<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.ArticleMapper" >
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
          insert into p_article
          ( title, content, summary,categoryId,metaKeywords,metaDescription,
          thumbnail,isTop,status,userId,isComment,createTime,`type`,viewCount,commentCount,contentModel, flag,
            greatCount,template,updateTime) VALUES
          (#{title},#{content}, #{summary},#{categoryId},#{metaKeywords},#{metaDescription},
          #{thumbnail},#{isTop},#{status},#{userId},#{isComment},#{createTime},#{type},#{viewCount},#{commentCount},
           #{contentModel}, #{flag},#{greatCount},#{template},#{updateTime})
    </insert>
    <insert id="addArticleTag">
         insert into p_article_tag (articleId,tagId)VALUES
        <foreach collection="list" item="item" index= "index" separator =",">
            (#{item.articleId}, #{item.tagId})
        </foreach >
    </insert>

    <update id="changeTopStatus">
        update p_article set
        isTop = #{isTop},
        updateTime=#{updateTime}
        where id = #{id}
    </update>
    <update id="changeCommentStatus">
        update p_article set
        isComment = #{isComment},
        updateTime=#{updateTime}
        where id = #{id}
    </update>
    <update id="changeStatus">
        update p_article set
        status = #{status},
        updateTime=#{updateTime}
        where id = #{id}
    </update>

    <update id="update">
        update p_article set
        <if test="title != null and title != ''">
            `title` = #{title},
        </if>
        `content` = #{content},
        summary = #{summary},
        categoryId = #{categoryId},
        metaKeywords = #{metaKeywords},
        metaDescription = #{metaDescription},
        thumbnail = #{thumbnail},
        <if test="isTop != null and isTop != ''">
            `isTop` = #{isTop},
        </if>
        <if test="isComment != null and isComment != ''">
            `isComment` = #{isComment},
        </if>
        <if test="status != null and status != ''">
            `status` = #{status},
        </if>
        <if test="slug != null and slug != ''">
            `slug` = #{slug},
        </if>
        <if test="type != null and type != ''">
            `type` = #{type},
        </if>
        <if test="contentModel != null and contentModel != ''">
            `contentModel` = #{contentModel},
        </if>
        template = #{template},
        updateTime=#{updateTime}
        where id = #{id}
    </update>
    <update id="articleCommentAdd">
         update p_article set
            commentCount = commentCount+1
            where id = #{articleId}
    </update>
    <update id="articleCommentSub">
        update p_article
            set commentCount= commentCount-1
            where id in (SELECT articleId FROM p_comment where id = #{id} or pid = #{id})
    </update>
    <update id="articleViewCountAdd">
        update p_article set
            viewCount = viewCount+1
            where id = #{articleId}
    </update>

    <update id="updateSlug">
        update p_article set
            slug = #{slug}
        where id = #{id}
    </update>

    <update id="updateGreatCount">
        update p_article set
            greatCount = greatCount+1
        where id = #{articleId}
    </update>

    <delete id="del">
        DELETE FROM  p_article  WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteTagByArticleId">
         DELETE FROM  p_article_tag  WHERE articleId = #{id}
    </delete>

    <resultMap id="LIST_RESULT" type="com.perfree.model.Article">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="summary" column="summary"></result>
        <result property="categoryId" column="categoryId"></result>
        <result property="metaKeywords" column="metaKeywords"></result>
        <result property="metaDescription" column="metaDescription"></result>
        <result property="thumbnail" column="thumbnail"></result>
        <result property="isTop" column="isTop"></result>
        <result property="status" column="status"></result>
        <result property="commentCount" column="commentCount"></result>
        <result property="viewCount" column="viewCount"></result>
        <result property="userId" column="userId"></result>
        <result property="isComment" column="isComment"></result>
        <result property="type" column="type"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="slug" column="slug"></result>
        <result property="contentModel" column="contentModel"></result>
        <result property="flag" column="flag"></result>
        <result property="greatCount" column="greatCount"></result>
        <result property="template" column="template"></result>
        <association property="user" javaType="com.perfree.model.User">
            <id property="id" column="userId" />
            <result property="userName" column="userName"/>
            <result property="avatar" column="avatar"/>
            <result property="email" column="email"/>
            <result property="website" column="website"/>
        </association>

        <association property="category" javaType="com.perfree.model.Category">
            <id property="id" column="categoryId" />
            <result property="name" column="categoryName"/>
        </association>
        <collection property="tags" select="getArticleTagById" column="id"></collection>
    </resultMap>
    <select id="getList" resultMap="LIST_RESULT">
        select t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1 left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        where 1=1
        <if test="title != null and title != ''">
            <bind name="title" value="'%' + _parameter.title + '%'" />
            and t1.title like #{title,jdbcType=VARCHAR}
        </if>
        <if test="type != null and type != ''">
            and t1.type = #{type}
        </if>
        <if test="type == null and type == ''">
            and t1.type = 'article'
        </if>
        <if test="categoryId != null and categoryId != ''">
            and t1.categoryId = #{categoryId}
        </if>
        <if test="userId != null and userId != ''">
            and t1.userId = #{userId}
        </if>
        <if test="content != null and content != ''">
            <bind name="content" value="'%' + _parameter.content + '%'" />
            and t1.content like #{content,jdbcType=VARCHAR}
        </if>
        order by t1.isTop desc,t1.createTime desc
    </select>

    <select id="getArticleTagById" resultType="com.perfree.model.Tag">
        select t2.* from p_article_tag t1 left join p_tag t2 on t1.tagId = t2.id where t1.articleId = #{id}
    </select>

    <select id="getById" resultMap="LIST_RESULT">
        select t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1 left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        where t1.id = #{id}
    </select>
    <select id="getArticleCount" resultType="java.lang.Long">
        SELECT count(1) FROM p_article where `type`= 'article' and `status` = 0
    </select>

    <select id="getHotArticle" resultMap="LIST_RESULT">
        select t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1
        left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        where t1.status = 0 and t1.type= 'article' order by
        <if test="type != null and type == 0">
            t1.commentCount
        </if>
        <if test="type != null and type == 1">
            t1.viewCount
        </if>
        desc
        LIMIT 0,#{count}
    </select>

    <select id="getLatestArticle" resultMap="LIST_RESULT">
         select t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1
         left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        where t1.status = 0 and t1.type= 'article' order by t1.createTime
        desc
        LIMIT 0,#{count}
    </select>

    <select id="frontArticlesList" resultMap="LIST_RESULT">
        SELECT t.* from (
        select DISTINCT t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1
        left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        left join p_article_tag t4 on t1.id = t4.articleId
        where t1.status = 0
        <if test="type != null and type != ''">
            and t1.type = #{type}
        </if>
        <if test="tagId != null and tagId != ''">
            and t4.tagId = #{tagId}
        </if>
        <if test="categoryId != null and categoryId != ''">
            and t1.categoryId = #{categoryId}
        </if>
        <if test="title != null and title != ''">
            <bind name="title" value="'%' + _parameter.title + '%'" />
            and t1.title like #{title,jdbcType=VARCHAR}
        </if>
        order by t1.createTime desc
        ) t order by
        <choose>
            <when test="orderBy !=null and orderBy != ''">
                ${orderBy}
            </when>
            <otherwise>
                t.isTop desc,t.createTime desc
            </otherwise>
        </choose>
    </select>

    <select id="getNextArticle" resultMap="LIST_RESULT">
        SELECT
            t1.*,
            t2.NAME categoryName,
            t3.userName,t3.avatar,t3.email,t3.website
        FROM
            p_article t1
            LEFT JOIN p_category t2 ON t1.categoryId = t2.id
            LEFT JOIN p_user t3 ON t1.userId = t3.id
        WHERE
            t1.STATUS = 0 and t1.type= 'article' and t1.id <![CDATA[ < ]]> #{articleId}
        ORDER BY
            t1.id desc LIMIT 0,1
    </select>
    <select id="getPreArticle" resultMap="LIST_RESULT">
        SELECT
            t1.*,
            t2.NAME categoryName,
            t3.userName,t3.avatar,t3.email,t3.website
        FROM
            p_article t1
            LEFT JOIN p_category t2 ON t1.categoryId = t2.id
            LEFT JOIN p_user t3 ON t1.userId = t3.id
        WHERE
            t1.STATUS = 0 and t1.type= 'article' and t1.id <![CDATA[ > ]]> #{articleId}
        ORDER BY
            t1.id asc LIMIT 0,1
    </select>


    <resultMap id="ARCHIVE_RESULT" type="com.perfree.model.Archive">
        <result property="date" column="date"></result>
        <collection property="articles"
                    select="getArticleByDate" column="date"></collection>
    </resultMap>
    <resultMap id="ARCHIVE_RESULT_SQLITE" type="com.perfree.model.Archive">
        <result property="date" column="date"></result>
        <collection property="articles"
                    select="getArticleByDateSqlite" column="date"></collection>
    </resultMap>
    <select id="frontArchivePage" resultMap="ARCHIVE_RESULT">
        	SELECT DISTINCT t.* from (SELECT DATE_FORMAT(createTime,'%Y年%m月') AS date
            FROM `p_article` where `type`= 'article'  and `status` = 0) t ORDER BY t.date desc
    </select>

    <select id="getArticleByDateSqlite" resultMap="LIST_RESULT">
        select DISTINCT t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1
        left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        left join p_article_tag t4 on t1.id = t4.articleId
        where t1.status = 0 and t1.type='article' and strftime('%Y年%m月',datetime(t1.createTime/1000, 'unixepoch', 'localtime')) = #{date}
        order by t1.createTime desc
    </select>

    <select id="getArticleByDate" resultMap="LIST_RESULT">
        select DISTINCT t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1
        left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        left join p_article_tag t4 on t1.id = t4.articleId
        where t1.status = 0 and t1.type='article' and DATE_FORMAT(t1.createTime,'%Y年%m月') = #{date}
        order by t1.createTime desc
    </select>

    <select id="getPageList" resultMap="LIST_RESULT">
        SELECT
            t1.*,
            t2.NAME categoryName,
            t3.userName,t3.avatar,t3.email,t3.website
        FROM
            p_article t1
            LEFT JOIN p_category t2 ON t1.categoryId = t2.id
            LEFT JOIN p_user t3 ON t1.userId = t3.id
        WHERE
            t1.STATUS = 0 and t1.type= 'page'
        ORDER BY
            t1.id asc
    </select>

    <select id="frontArchivePageBySqlite" resultMap="ARCHIVE_RESULT_SQLITE">
           SELECT DISTINCT t.* from (SELECT strftime('%Y年%m月',datetime(createTime/1000, 'unixepoch', 'localtime')) AS date
            FROM `p_article` where `type`= 'article' and `status` = 0 ) t ORDER BY t.date desc
    </select>

    <select id="apiList" resultMap="LIST_RESULT">
        SELECT t.* from (
        select DISTINCT t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1
        left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        left join p_article_tag t4 on t1.id = t4.articleId
        where t1.status = 0 and t1.type= #{article.type}
        <if test="article.title != null and article.title != ''">
            <bind name="title" value="'%' + _parameter.article.title + '%'" />
            and t1.title like #{title,jdbcType=VARCHAR}
        </if>
        <if test="article.content != null and article.content != ''">
            <bind name="content" value="'%' + _parameter.article.content + '%'" />
            and (t1.content like #{content,jdbcType=VARCHAR} or t1.title like #{content,jdbcType=VARCHAR})
        </if>
        <if test="article.categoryId != null and article.categoryId != ''">
            and t1.categoryId = #{article.categoryId}
        </if>
        )t
        <if test="orderBy != null and orderBy != ''">
            ${orderBy}
        </if>
        <if test="orderBy == null or orderBy == ''">
            order by isTop,createTime desc
        </if>
    </select>

    <select id="getBySlug" resultMap="LIST_RESULT">
        select t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1 left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        where t1.slug = #{slug} and t1.type= #{type}
    </select>

    <select id="getListByTagId" resultMap="LIST_RESULT">
        SELECT t.* from (
        select DISTINCT t1.*,t2.name categoryName,t3.userName,t3.avatar,t3.email,t3.website from p_article t1
        left join p_category t2 on t1.categoryId = t2.id left join p_user t3 on t1.userId = t3.id
        left join p_article_tag t4 on t1.id = t4.articleId
        where t1.status = 0 and t1.type= 'article'
        <if test="article.title != null and article.title != ''">
            <bind name="title" value="'%' + _parameter.article.title + '%'" />
            and t1.title like #{title,jdbcType=VARCHAR}
        </if>
        <if test="tagId != null and tagId != ''">
            and t4.tagId = #{tagId}
        </if>
        order by t1.createTime desc
        ) t order by t.isTop desc,t.createTime desc

    </select>
</mapper>
