<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.AttachMapper" >
    <insert id="add">
        insert into p_attach (`name`, `desc`, `path`, suffix,flag,type,createTime, saveType, fileKey)
        VALUES (#{name},#{desc},#{path}, #{suffix}, #{flag}, #{type}, #{createTime}, #{saveType}, #{fileKey})
    </insert>

    <update id="update">
        update p_attach set name=#{name}, `desc` = #{desc},flag = #{flag},updateTime=#{updateTime} where id = #{id}
    </update>

    <delete id="del">
        DELETE FROM  p_attach  WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getList" resultType="com.perfree.model.Attach">
        select * from p_attach
        where 1 = 1
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + _parameter.name + '%'" />
            and `name` like #{name,jdbcType=VARCHAR}
        </if>
        <if test="type != null and type != ''">
            and `type` = #{type}
        </if>
        order by createTime desc
    </select>
    <select id="getById" resultType="com.perfree.model.Attach">
        select * from p_attach where id = #{id}
    </select>

    <select id="getByIdArr" resultType="com.perfree.model.Attach">
        select * from p_attach where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
