<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.CategoryMapper" >
    <!-- 定义菜单树形结构 -->
    <resultMap id="CATEGORY_LIST_TREE"
               type="com.perfree.model.Category">
        <result column="id" property="id"></result>
        <result column="pid" property="pid"></result>
        <result column="name" property="name"></result>
        <result column="desc" property="desc"></result>
        <result column="count" property="count"></result>
        <result column="metaKeywords" property="metaKeywords"></result>
        <result column="metaDescription" property="metaDescription"></result>
        <result column="status" property="status"></result>
        <result column="thumbnail" property="thumbnail"></result>
        <result column="slug" property="slug"></result>
        <result column="createTime" property="createTime"></result>
        <result column="updateTime" property="updateTime"></result>
        <collection property="children"
                    select="getChildCategory" column="id=id,status=status"></collection>
    </resultMap>

    <resultMap id="CATEGORY_LIST_TREE_ALL"
               type="com.perfree.model.Category">
        <result column="id" property="id"></result>
        <result column="pid" property="pid"></result>
        <result column="name" property="name"></result>
        <result column="desc" property="desc"></result>
        <result column="count" property="count"></result>
        <result column="metaKeywords" property="metaKeywords"></result>
        <result column="metaDescription" property="metaDescription"></result>
        <result column="status" property="status"></result>
        <result column="thumbnail" property="thumbnail"></result>
        <result column="slug" property="slug"></result>
        <result column="createTime" property="createTime"></result>
        <result column="updateTime" property="updateTime"></result>
        <collection property="children"
                    select="getChildCategoryAll" column="id=id"></collection>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" >
        insert into p_category (pid, `name`, `desc`, metaKeywords,metaDescription,status,createTime,`count`,thumbnail,slug)
        VALUES (#{pid},#{name},#{desc}, #{metaKeywords}, #{metaDescription}, #{status}, #{createTime},#{count},#{thumbnail},#{slug})
    </insert>
    <update id="addCount">
        update p_category set
         `count` = `count`+1
        where id = #{id}
    </update>

    <update id="update">
         update p_category set
        `name` = #{name},updateTime=#{updateTime},`desc`=#{desc},metaKeywords=#{metaKeywords},metaDescription=#{metaDescription},status=#{status},
       pid = #{pid},thumbnail=#{thumbnail},slug=#{slug}
        where id = #{id}
    </update>

    <update id="changeStatus">
         update p_category set
        updateTime=#{updateTime},status=#{status}
        where id = #{id} or pid = #{id}
    </update>
    <update id="subCount">
       update p_category set
         `count` = `count`-1
        where id = #{id}
    </update>
    <update id="updateSlug">
        update p_category set
            slug = #{slug}
        where id = #{id}
    </update>

    <delete id="del">
        DELETE FROM p_category  WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        or pid IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getList" resultMap="CATEGORY_LIST_TREE_ALL">
        select * from p_category where pid = -1
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + _parameter.name + '%'" />
            and name like #{name,jdbcType=VARCHAR}
        </if>
        order by createTime desc
    </select>

    <select id="getAllList" resultMap="CATEGORY_LIST_TREE_ALL">
        select * from p_category where pid = -1
        <if test="status != null">
            and status = #{status}
        </if>
        order by createTime desc
    </select>

    <select id="getFrontAllList" resultMap="CATEGORY_LIST_TREE">
        select * from p_category where pid = -1
        <if test="status != null">
            and status = #{status}
        </if>
        order by `count` desc
    </select>

    <select id="getChildCategory" resultMap="CATEGORY_LIST_TREE">
        select * from p_category where pid=#{id} and status = #{status} order by createTime
    </select>

    <select id="getChildCategoryAll" resultMap="CATEGORY_LIST_TREE_ALL">
        select * from p_category where pid=#{id} order by createTime
    </select>


    <select id="getById" resultType="com.perfree.model.Category">
        select * from p_category where id=#{id}
    </select>
    <select id="frontCategoryList" resultMap="CATEGORY_LIST_TREE">
        select * from p_category where pid = -1 and status = 0
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + _parameter.name + '%'" />
            and name like #{name,jdbcType=VARCHAR}
        </if>
        order by `count` desc
    </select>
    <select id="getBySlug" resultType="com.perfree.model.Category">
        select * from p_category where slug = #{slug}
    </select>
</mapper>
