<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.CommentMapper" >

    <resultMap id="LIST_RESULT" type="com.perfree.model.Comment">
        <id property="id" column="id"></id>
        <result property="articleId" column="articleId"></result>
        <result property="pid" column="pid"></result>
        <result property="userId" column="userId"></result>
        <result property="content" column="content"></result>
        <result property="status" column="status"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="avatar" column="avatar"></result>
        <result property="website" column="website"></result>
        <result property="email" column="email"></result>
        <result property="userName" column="userName"></result>
        <association property="article" javaType="com.perfree.model.Article">
            <id property="id" column="articleId" />
            <result property="title" column="title"/>
        </association>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into p_comment (articleId, `pid`, `userId`, content,status, avatar,website,email,userName,createTime)
        VALUES (#{articleId},#{pid},#{userId}, #{content}, #{status}, #{avatar},#{website},#{email},#{userName},#{createTime})
    </insert>

    <update id="changeStatus">
        update p_comment set
        status = #{status},
        updateTime=#{updateTime}
        where id = #{id}
    </update>

    <delete id="del">
        DELETE FROM  p_comment  WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getList" resultMap="LIST_RESULT">
        select t1.*,t3.title from p_comment t1
        left join p_article t3 on t1.articleId = t3.id
        where 1 = 1
        <if test="content != null and content != ''">
            and t1.content like concat('%', #{content,jdbcType=VARCHAR},'%')
        </if>
        order by t1.createTime desc
    </select>
    <select id="getCommentCount" resultType="java.lang.Long">
        SELECT count(1) FROM p_comment
    </select>
    <select id="getCommentListByDashboard" resultMap="COMMENT_RESULT">
        SELECT t1.* FROM p_comment t1 ORDER BY createTime DESC limit 0,24
    </select>


    <resultMap id="COMMENT_RESULT" type="com.perfree.model.Comment">
        <id property="id" column="id"></id>
        <result property="articleId" column="articleId"></result>
        <result property="pid" column="pid"></result>
        <result property="userId" column="userId"></result>
        <result property="content" column="content"></result>
        <result property="status" column="status"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="avatar" column="avatar"></result>
        <result property="website" column="website"></result>
        <result property="email" column="email"></result>
        <result property="userName" column="userName"></result>
        <association select="getChildComment" property="child" column="id"></association>
    </resultMap>
    <select id="getCommentByArticleId" resultMap="COMMENT_RESULT">
        select t1.* from p_comment t1
        where t1.articleId = #{articleId} and t1.status = 0 and pid = -1
        order by t1.createTime desc
    </select>

    <select id="getChildComment" resultMap="COMMENT_RESULT">
        select t1.* from p_comment t1
        where t1.pid = #{id} and t1.status = 0
        order by t1.createTime desc
    </select>
</mapper>
