<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.LinkMapper" >
    <insert id="add">
         insert into p_link ( `name`, logo,`desc`,address, createTime) VALUES (#{name},#{logo},#{desc},#{address}, #{createTime})
    </insert>
    <update id="update">
        update p_link set `name` = #{name},logo = #{logo},address = #{address},`desc`=#{desc},updateTime=#{updateTime} where id = #{id}
    </update>
    <delete id="del">
        DELETE FROM  p_link  WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getList" resultType="com.perfree.model.Link">
        select * from p_link where 1=1
        <if test="name != null and name != ''">
            and `name` like concat('%', #{name,jdbcType=VARCHAR},'%')
        </if>
    </select>
    <select id="getById" resultType="com.perfree.model.Link">
        select * from p_link where id=#{id}
    </select>
    <select id="frontList" resultType="com.perfree.model.Link">
        select * from p_link
    </select>
</mapper>
