<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.OptionMapper" >
    <insert id="addOption">
        insert into p_option
        (`key`,`value`)
        values
            (#{key},#{value})
    </insert>
    <insert id="addOptionBySqlite">
          insert into p_option
        (`id`,`key`,`value`)
        values
            (#{id},#{key},#{value})
    </insert>
    <update id="updateValueByKey">
        update p_option set
        `value` = #{value}
        where `key` = #{key}
    </update>
    <select id="getOptionByKey" resultType="com.perfree.model.Option">
        select t.* from p_option t where t.key = #{key}
    </select>
    <select id="getStartOption" resultType="com.perfree.model.Option">
         select t.* from p_option t
    </select>
    <select id="getMaxId" resultType="java.lang.Integer">
        select ifnull(MAX(id),0)  FROM p_option
    </select>
</mapper>
