<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.PluginsMapper" >
    <insert id="save">
        insert into p_plugin ( `name`, `path`, `desc`,`version`,`author`,`createTime`)
        VALUES (#{name},#{path}, #{desc},#{version},#{author},#{createTime})
    </insert>
    <update id="update">
        update p_plugin set `name` = #{name},`desc` = #{desc},`version` = #{version},`author`=#{author},updateTime=#{updateTime} where id = #{id}
    </update>

    <select id="getByPath" resultType="com.perfree.model.Plugin">
        select * from p_plugin where `path` = #{path}
    </select>
    <select id="getList" resultType="com.perfree.model.Plugin">
        select * from p_plugin where 1=1
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + _parameter.name + '%'" />
            and `name` like #{name,jdbcType=VARCHAR}
        </if>
        order by createTime desc
    </select>
    <select id="getById" resultType="com.perfree.model.Plugin">
        select * from p_plugin where `id` = #{id}
    </select>

    <delete id="delById">
        DELETE FROM  p_plugin  WHERE id = #{id}
    </delete>
</mapper>
