<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.RoleMapper" >
    <insert id="add" useGeneratedKeys="true" keyProperty="id" >
        insert into p_role ( `name`, `description`,`code`,`createTime`, `updateTime`) VALUES (#{name},#{description}, #{code},#{createTime},#{updateTime})
    </insert>
    <select id="list" resultType="com.perfree.model.Role">
        select * from p_role
    </select>
    <select id="getRoleByCode" resultType="com.perfree.model.Role">
        select * from p_role where code = #{roleCode}
    </select>
</mapper>
