<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.TagMapper" >
    <!-- 基础列 -->
    <sql id="BASE_COLUMN">
        id,
        name,
        userId,
        color,
        thumbnail,
        slug,
        createTime,
        updateTime
    </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" >
        insert into p_tag ( name, userId,color,thumbnail,slug, createTime) VALUES (#{name},#{userId}, #{color},#{thumbnail},#{slug},#{createTime})
    </insert>

    <update id="update">
        update p_tag set name = #{name},color = #{color},
         thumbnail = #{thumbnail},slug = #{slug},updateTime=#{updateTime} where id = #{id}
    </update>

    <update id="updateSlug">
        update p_tag set
            slug = #{slug}
        where id = #{id}
    </update>

    <delete id="del">
        DELETE FROM  p_tag  WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delArticleTag">
        DELETE FROM  p_article_tag  WHERE tagId IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="LIST_RESULT" type="com.perfree.model.Tag">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="userId" column="userId"></result>
        <result property="color" column="color"></result>
        <result property="thumbnail" column="thumbnail"></result>
        <result property="slug" column="slug"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <association property="user" javaType="com.perfree.model.User">
            <id property="id" column="userId" />
            <result property="userName" column="userName"/>
        </association>
    </resultMap>
    <!-- 标签列表 -->
    <select id="getList" resultMap="LIST_RESULT">
        select t.*,t1.userName from p_tag t left join p_user t1 on t.userId = t1.id
        where 1 = 1
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + _parameter.name + '%'" />
            and name like  #{name,jdbcType=VARCHAR}
        </if>
        order by t.createTime desc
    </select>

    <select id="getById" resultType="com.perfree.model.Tag">
        select <include refid="BASE_COLUMN"></include> from p_tag where id = #{id}
    </select>
    <select id="getTagCount" resultType="java.lang.Long">
        SELECT count(1) FROM p_tag
    </select>
    <select id="getHotTag" resultType="com.perfree.model.Tag">
    SELECT t.*,IFNULL(t1.articleCount,0) articleCount from p_tag t LEFT JOIN
    (SELECT tagId, count(1) articleCount FROM `p_article_tag` GROUP BY tagId) t1 ON t.id = t1.tagId
    ORDER BY t1.articleCount desc
    LIMIT 0,#{count}
    </select>
    <select id="frontTagsList" resultMap="LIST_RESULT">
        select t.*,t1.userName from p_tag t left join p_user t1 on t.userId = t1.id
        where 1 = 1
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + _parameter.name + '%'" />
            and name like  #{name,jdbcType=VARCHAR}
        </if>
        order by t.createTime desc
    </select>

    <select id="getBySlug" resultType="com.perfree.model.Tag">
        select <include refid="BASE_COLUMN"></include> from p_tag where slug = #{slug}
    </select>
</mapper>
