.layui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #4b9fff;
    color: white;
}
.layui-btn-primary{
    background-color: inherit;
    color: #666;
}
.layui-btn-danger{
    background-color: #FF5722;
}
.layui-form-label {
    padding: 5px 15px;
    width: auto;
}
html{
    overflow: auto;
}
.layui-layout-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.layui-layout-body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #adabab;
}

.layui-layout-body::-webkit-scrollbar-track-piece {
    background: #e8e8e8;
}
.layui-layer-shade{
    opacity: 0.1!important;
}
.p-add-panel{
    padding: 10px;
}
.p-add-panel .add-btn-box{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    background: #F8F8F8;
    width: 100%;
    text-align: right;
    line-height: 50px;
    padding-right: 15px;
    border-top: 1px solid #F0F0F0;
}
.layui-btn-xs{
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
}
.layui-btn+.layui-btn{
    margin-left: 4px;
}
.p-container{
    padding: 6px;
    background: whitesmoke;
    min-height: calc(100% - 12px);
}
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {
    background-color: #eff2f5;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #4a9fff;
}
.layui-laypage a:hover {
    color: #4a9fff;
}
.layui-laypage input:focus, .layui-laypage select:focus {
    border-color: #4a9fff!important;
}
#queryBtn,#addBtn,#uploadBtn,.addBtn {
    background-color: #4a9fff;
}
#batchDeleteBtn{
    background-color: #FF5722;
}
.layui-form-radio:hover *, .layui-form-radioed, .layui-form-radioed>i{
    color: #4a9fff;
}
.layui-form-onswitch {
    border-color: #4a9fff;
    background-color: #4a9fff;
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #4a9fff;
}
.layui-form-select dl dd.layui-this {
    background-color: #4a9fff;
}
.layui-btn-primary:hover {
    border-color: #4a9fff;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #4a9fff!important;
    background-color: #4a9fff;
}
.layui-form-checked, .layui-form-checked:hover{
    border-color: #4a9fff!important;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #4a9fff;
}
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #4a9fff;
}
.p-add-panel form{
    position: fixed;
    bottom: 50px;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    overflow: auto;
    padding: 15px 30px;
}
.p-add-panel form::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.p-add-panel form::-webkit-scrollbar-corner {
    background: #f6f6f6;
}

.p-add-panel form::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 2px;
}

.p-add-panel form::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}
.p-add-panel form .layui-form-label{
    width: 80px;
}
.p-add-panel form .p-form-required{
    position: initial;
    margin-right: 5px;
}
.layui-input, .layui-select, .layui-textarea{
    border-radius: 4px;
    border-color: #eee;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 35px;
    line-height: 35px;
    color:#4a4a4a;
}
.layui-input:focus, .layui-textarea:focus{
    border-color: #2d8cf0!important;
    box-shadow: 0 0 0 3px #ecf5ff !important;
}
.layui-table-cell img{
    width: 25px;
}
.layui-form-select dl dd, .layui-form-select dl dt {
    line-height: 35px;
}
.hideMargin{
    margin: 0;
}
html{
    height: 100%;
}
.layui-layout-body{
    height: 100%;
    overflow: auto;
}
.layui-card-body {
    padding: 15px 15px;
}
.layui-card {
    margin: 6px;
}
.p-upload-show{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.p-upload{
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.p-upload i{
    font-size: 22px;
    color: #615d5d;
}
.p-upload-box{
    display: inline-block;
    width: 180px;
    height: 160px;
    line-height: 160px;
    border: 1px dashed #e6e6e6;
    text-align: center;
}
.p-show-img{
    width: 100%;
    height: 100%;
}
.p-delete-img{
    position: absolute;
    left: 0;
    top: 1px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #00000066;
    color: red;
    display: none;
}
.p-delete-img i{
    font-size: 22px;
    cursor: pointer;
}
.p-add-panel{
    background: white;
}
.tagBtn{
    margin-right: 5px;
    display: inline-block;
    background: #5fb878;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    font-size: 13px;
}
.tagBtn:hover{
    background: #5fb878;
    color: white;
}
.articleHref{
    color: #4b9fff;
    font-weight: 600;
}
.p-form-required{
    color: red;
    position: absolute;
    left: 8px;
}
.layui-form-label{
    color: #4a4a4a;
}
.layui-textarea{
    padding: 0 4px;
    line-height: 20px;
}
.layui-form .editormd-dialog-container select{
    color: #999;
    padding: 3px 8px;
    border: 1px solid #ddd;
    display: inline-block;
}