html{
    overflow: auto;
}
.layui-layout-body{
    height: 100%;
    overflow: auto;
}
.p-container{
    padding: 6px;
    background: whitesmoke;
    min-height: calc(100% - 12px);
}
.p-add-panel{
    padding: 10px;
}
.p-add-panel .add-btn-box{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    background: #F8F8F8;
    width: 100%;
    text-align: right;
    line-height: 50px;
    padding-right: 15px;
    border-top: 1px solid #F0F0F0;
}
.layui-btn-xs{
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
}
.layui-btn+.layui-btn{
    margin-left: 4px;
}
.p-container{
    padding: 6px;
    background: whitesmoke;
    min-height: calc(100% - 12px);
}
#queryBtn,#addBtn,#uploadBtn,.addBtn {
    background-color: #4a9fff;
}
#batchDeleteBtn{
    background-color: #FF5722;
}
.p-add-panel form{
    position: absolute;
    bottom: 50px;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    overflow: auto;
    padding: 15px 30px;
}
.p-add-panel form::-webkit-scrollbar,.p-add-panel::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.p-add-panel form::-webkit-scrollbar-corner,.p-add-panel::-webkit-scrollbar-corner {
    background: #f6f6f6;
}

.p-add-panel form::-webkit-scrollbar-thumb,.p-add-panel::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 2px;
}

.p-add-panel form::-webkit-scrollbar-track,.p-add-panel::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}
.p-add-panel form .layui-form-label{
    width: 80px;
}
.p-add-panel form .p-form-required{
    position: initial;
    margin-right: 5px;
}
html{
    height: 100%;
}
.p-upload-show{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.p-upload{
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.p-upload i{
    font-size: 22px;
    color: #615d5d;
}
.p-upload-box{
    display: inline-block;
    width: 155px;
    height: 120px;
    line-height: 120px;
    border: 1px dashed #e6e6e6;
    text-align: center;
}
.p-show-img{
    width: 100%;
    height: 100%;
}
.p-delete-img{
    position: absolute;
    left: 0;
    top: 1px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #00000066;
    color: red;
    display: none;
}
.p-span-required{
    color: red;
}
.p-delete-img i{
    font-size: 22px;
    cursor: pointer;
}
.p-add-panel{
    background: white;
}
.p-upload-input-box,.p-upload-video-input-box,.p-upload-attach-input-box{
    height: 36px;
    line-height: 36px;
    border: 1px solid #eee;
    width: 40px;
    text-align: center;
    border-radius: 0px 5px 5px 1px;
    cursor: pointer;
}