html,body{
    overflow: hidden;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    color: rgba(0,0,0,.85);
}
.layui-tab-item.layui-show {
    animation:moveTop .5s;
    -webkit-animation:moveTop .5s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    position:relative;
    height:100%;
    -webkit-overflow-scrolling:touch;
}
@keyframes moveTop {0% {opacity:0;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);}
    100% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
@-o-keyframes moveTop {0% {opacity:0;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);}
    100% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
@-moz-keyframes moveTop {0% {opacity:0;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);}
    100% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
@-webkit-keyframes moveTop {0% {opacity:0;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);}
    100% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
#loading{
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    background: #eff2f5;
}
#frame-loading{
    width: 100%;
    height: calc(100% - 40px);
    line-height: calc(100vh - 40px);
    background: white;
    position: absolute;
    top: 40px;
    display: none;
}
.loading{
    width: 80px;
    height: 40px;
    margin: 0 auto;
}
.loading span{
    display: inline-block;
    width: 10px;
    height: 100%;
    border-radius: 8px;
    background: #1e9fff;
    -webkit-animation: load 1s ease infinite;
    margin-right: 8px;
}
@-webkit-keyframes load{
    0%,100%{
        height: 40px;
        background: #1e9fff;
    }
    50%{
        height: 70px;
        margin: -20px 0;
        background: lightblue;
    }
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
}
.layui-header{
    left: 200px;
    border-bottom: 1px solid;
    height: 50px;
    position: relative;
}

.layui-layout-admin .layui-side{
    position: fixed;
    left: -230px;
    top: 0;
    z-index: 9999;
    width: 230px;
    box-shadow: 2px 0px 4px 1px rgb(0 21 41 / 44%);
    background: #28333E;
}
.layui-layout-admin .layui-logo{
    position: initial;
    height: 50px;
    border-bottom: 1px solid #26272a;
    color: #c3c9cf;
    font-size: 22px;
    line-height: 50px;
    font-weight: 500;
    width: 230px;
}
.layui-layout-admin .layui-header {
    background-color: #ffffff;
    border-color: #e8e8e8;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.layui-nav {
    background-color: #28333E;
}
.layui-side-scroll{
    height: calc(100% - 52px);
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
    height: 2px;
    background-color: #28333E;
    display: none;
}

.layui-nav-tree .layui-nav-bar {
    width: 3px;
    background-color: #696767;
}
.layui-nav .layui-nav-item{
    line-height: 50px;
}
.f-nav .layui-nav-item a:hover, .layui-nav .layui-this a{
    color:#0c0c0cde;
}
.f-nav .layui-nav-item a{
    color:#0c0c0cde;
}
.layui-layout-left{
    left: 0;
}
.left-nav{
    padding: 0;
}
.f-nav-content{
    padding-left: 8px;
}

.layui-nav-tree .layui-nav-child a {
    padding: 0 30px;
}

.f-logo-img{
    display: none;
    width: 100%!important;
}

.f-logo-img img{
    width: 30px;
    height: 30px;
    margin-top: -10px;
}
.layui-header-expand{
    width: calc(100% - 50px);
}
.layui-layer-content>.f-child-side>a{
    color: #c1c1c1;
}
.layui-layer-content>.f-child-side>a:hover{
    color: white;
}
.f-exit-full-btn-icon{
    display: none;
}
.layui-layer-shade {
    opacity: 0.1!important;
}
.layui-layout-admin .layui-body {
    top: 50px;
    bottom:0;
    left: 0;
}
.f-iframe-box{
    height: 100%;
    overflow: auto;
}

.f-iframe-box::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.f-iframe-box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #adabab;
}

.f-iframe-box::-webkit-scrollbar-track-piece {
    background: #e8e8e8;
}

.f-nav .layui-nav-item:before{
    content: ' ';
    display: inline-block;
    border-bottom: 2px solid #4b9fff;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .4s all;
}
.f-nav .layui-nav-item:hover:before {
    width: 100%;
}
.f-nav-item a:before {
    content: ' ';
    display: block;
    height: 0;
    border-left: 3px solid #444;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: .4s all;
}
.f-nav-item a:hover:before{
    display: none;
}
.layui-nav-tree .layui-nav-item a:hover {
    background-color: inherit;
    color: white;
}
.layui-nav-tree .f-nav-item{
    padding: 4px 0;
}
.f-nav-item .layui-nav-child dd {
    position: relative;
    padding: 4px 0;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
    background-color: #4c9fff;
    color:inherit;
}
.f-nav .layui-nav-child{
    top: 50px;
}
.layui-tab{
    margin: 0;
}
.layui-tab-title .layui-this:after{
    border: none;
}
.layui-tab-title li {
    line-height: 40px;
    min-width: 45px;
    padding: 0 10px;
    border-right: 1px solid #f6f6f6;
    color: dimgray;
    font-size: 14px;
}
.layui-tab-title li:first-child .layui-tab-close{
    display: none;
}
.layui-tab-title .layui-this {
    color: dimgray;
}

.layui-tab-title {
    border:none;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    left: 0;
    right: 0;
    z-index: 9;
    background: white;
}
.layui-tab-content{
    padding: 0;
}
.layui-tab-title li .layui-tab-close{
    border-radius: 50%;
}
.layui-tab-title li .layui-tab-close:hover {
    border-radius: 50%;
}
.layui-tab-item {
    height: 100%;
}
.f-header{
    left: 0px;
    position: relative;
}
.layui-nav-tree .layui-nav-child a{
    padding-left: 45px;
}
.p-side-shadow{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    display: none;
    background: rgba(0, 0, 0, .5);
}
.f-show-side .layui-body{
    left: 230px;
}
.f-show-side .layui-side{
    left: 0;
}
.f-show-side .f-header{
    margin-left: 230px;
    box-shadow: none;
    border-color: #f6f6f6;
}
.layui-tab-title li .layui-tab-close:hover{
    background-color: initial;
    color: #000000eb;
}
.f-side,.f-header,.layui-body{
    transition: left .5s,margin-left .5s;
}
.f-side-user-box img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #44576b;
    box-sizing: border-box;
}
.f-side-user-box{
    margin-top: 15px;
    border-bottom: 1px solid #212734;
}
.f-side-user-box a{
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    box-shadow: 0px 0px 8px 4px rgb(0 21 41 / 34%);
    border-radius: 50%;
    overflow: hidden;
}
.f-side-user-box p{
    display: block;
    width: 100%;
    height: 25px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    line-height: 25px;
    overflow: hidden;
}
.layui-side-scroll,.layui-nav-tree{
    width: 230px;
}
.layui-side-scroll::-webkit-scrollbar, .layui-side-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.f-child-side .p-menu-item .fa{
    margin-right: 10px;
}
.layui-nav-tree .layui-nav-item>a, .layui-nav-tree .layui-nav-child a{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    color: rgb(255 255 255 / .7);
}
.layui-nav-child{
    padding: 0;
}
.layui-nav-tree .layui-nav-item>a .layui-nav-more{
    padding: 0;
}
.tab-icon-circle{
    display: inline-block;
    background: lightgray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 6px;
}
.layui-tab-title .layui-this .tab-icon-circle{
    background: #2d8cf0;
}
@media screen and (max-width: 768px){
    .f-show-side .p-side-shadow{
        display: block;
    }
    .f-show-side .layui-body{
        left: 0;
        width: 100%;
    }
    .f-show-side .f-header{
        left: 0;
    }
    .f-show-side .layui-body{
        left: 0;
    }
    .header-left .layui-nav-item:not(:first-child) {
       display: none;
    }
    .header-right .layui-nav-item:not(:nth-last-child(2)) {
        display: none;
    }
    .f-show-side .f-header{
        margin-left: 0;
    }
}
