<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.AccessLogsMapper" >
    <insert id="addAccess">
        insert into p_access_logs
          ( system_info, system_group, system_type,browser_version,browser_name,browser_group,ip,`date`) VALUES
          (#{systemInfo},#{systemGroup}, #{systemType},#{browserVersion},#{browserName},#{browserGroup},
          #{ip},#{date})
    </insert>

    <update id="createTableForMysql">
         CREATE TABLE `p_access_logs`  (
              `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
              `system_info` varchar(64) NULL COMMENT '系统信息',
              `system_group` varchar(64) NULL COMMENT '系统家族',
               `system_type` varchar(64) NULL COMMENT '系统类型',
              `browser_version` varchar(64) NULL COMMENT '浏览器版本',
              `browser_name` varchar(64) NULL COMMENT '浏览器名称',
              `browser_group` varchar(64) NULL COMMENT '浏览器家族',
              `ip` varchar(64) NULL COMMENT 'ip',
              `date` datetime NULL COMMENT '时间',
              PRIMARY KEY (`id`)
            )
    </update>

    <update id="createTableForSqlite">
         CREATE TABLE `p_access_logs`  (
               "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
                "system_info" text(64),
                `system_group` text(64),
               `system_type` text(64),
                "browser_version" text(64),
                "browser_name" text(64),
                  `browser_group` text(64),
                "ip" text(64),
                "date" DATETIME
            )
    </update>

    <update id="dropTable">
        drop table if exists `p_access_logs`
    </update>
</mapper>
