<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="mc-drawer mdui-drawer mdui-drawer-open mdui-color-white" id="left-drawer" th:fragment="sider">
        <ul class="mdui-list mdui-list-dense" mdui-collapse="{accordion: true}">
            <li class="mdui-list-item mdui-ripple mdui-list-item-active p-menu-item" data-url="/dashboard.html" data-text="面板">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">equalizer</i>
                <div class="mdui-list-item-content">面板</div>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">import_contacts</i>
                    <div class="mdui-list-item-content">文章</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/article_list.html" data-text="文章-列表">列表</li>
                    <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/dashboard.html" data-text="文章-新建">新建</li>
                </ul>
            </li>
            <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/dashboard.html" data-text="面板">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">comment</i>
                <div class="mdui-list-item-content">评论</div>
            </li>
            <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/dashboard.html" data-text="面板">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">layers</i>
                <div class="mdui-list-item-content">分类</div>
            </li>
            <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/dashboard.html" data-text="面板">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">local_offer</i>
                <div class="mdui-list-item-content">标签</div>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">color_lens</i>
                    <div class="mdui-list-item-content">主题</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/dashboard.html" data-text="面板">列表</li>
                    <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/dashboard.html" data-text="面板">新建</li>
                </ul>
            </li>
            <li class="mdui-list-item mdui-ripple p-menu-item" data-url="/dashboard.html" data-text="面板">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">settings</i>
                <div class="mdui-list-item-content">设置</div>
            </li>
        </ul>
    </div>
</html>