.p-form-tip,.editor-switch-box{
    font-size: 12px;
    color: #292929;
}
.editor-switch-btn{
    color: #2F4056;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
.layui-form-item {
    margin-bottom: 8px;
}
.article-switch .layui-form-switch{
    margin: 0 15px 0 0;
}
.article-password-input{
    display: inline-block;
    width: 150px;
}
.article-textarea{
    height: auto;
    line-height: 20px;
    min-height: 80px;
}