.p-attach-card{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.p-attach-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.p-attach-info{
    width: 100%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #e3e3e3;
    font-size: 14px;
}
.p-attach-suffix{
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 22px;
    background: #f1f1f1;
    font-style: italic;
}
.p-table-box{
    margin-bottom: 10px;
}
.p-attach-check{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 9;
}