.top-btn-box{
    padding-bottom: 10px;
    display: flex;
    height: 35px;
    line-height: 35px;
}
#publishBtn{
    margin-left: auto;
}

#editorBox {
    z-index: 120;
}
#editorBox.fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#editor select{
    display: block;
}

#editor .w-e-todo input[type="checkbox"]{
    display: block;
}
#editor li{
    list-style: inherit;
}
#editor .w-e-text-container a{
    color: #4c9fff;
}
#editor .w-e-toolbar .w-e-menu i{
    color: #666;
}
#editor .w-e-text pre code{
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}
.pageScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.editormd-toolbar{
    position: absolute!important;
}