.upload-success-panel{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.upload-box{
    width: 95px;
    border: 1px dashed #c1c1c1;
    height: 95px;
    line-height: 95px;
    text-align: center;
    color: #656565;
    margin-left: 48px;
}
.upload-panel{
    cursor: pointer;
}
.upload-success-panel img{
    width: 100%;
    height: 100%;
    margin-top: -2px;
}
.delete-img-box{
    display: none;
}
.delete-img-box-show{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #0000008c;
    color: #dc2222;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}
.p-hidden{
    display: none;
}
.p-show{
    display: block;
}
