.p-login-box{
    width: 360px;
    height: 320px;
    padding: 20px;
    border-radius: 5px;
    background: white;
    margin: auto;
}
.p-register-btn{
    margin-left: 5px;
    cursor: pointer;
}
#p-login-box{
    display: none;
}
#loading{
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    background: #eff2f5;
}
.loading{
    width: 100px;
    height: 40px;
    margin: 0 auto;
}
.loading span{
    display: inline-block;
    width: 10px;
    height: 100%;
    border-radius: 8px;
    background: #1e9fff;
    -webkit-animation: load 1s ease infinite;
    margin-right: 8px;
}
@-webkit-keyframes load{
    0%,100%{
        height: 40px;
        background: #1e9fff;
    }
    50%{
        height: 70px;
        margin: -20px 0;
        background: lightblue;
    }
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
}
body{
    background-size: cover;
    overflow: auto;
    background: #2f4056 url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxNjIycHgiIGhlaWdodD0iNjI2cHgiIHZpZXdCb3g9IjAgMCAxNjIyIDYyNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYyMiA2MjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBvcGFjaXR5PSIwLjIiIGZpbGw9IiNGRkZGRkYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXciIHBvaW50cz0iMTMwOCwzMC4zMSAxMzM4LDM5Ljk4IDEzMTcuMzMsNjEuMzEgIi8+CjxjaXJjbGUgb3BhY2l0eT0iMC4yIiBmaWxsPSIjRkZGRkZGIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IiBjeD0iMTQwMCIgY3k9IjI0MCIgcj0iMjQiLz4KPGNpcmNsZSBvcGFjaXR5PSIwLjIiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXciIGN4PSIxNDgwIiBjeT0iMTIwIiByPSI2LjkyIi8+Cjxwb2x5Z29uIG9wYWNpdHk9IjAuMiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyIgcG9pbnRzPSIKCTE4MS4wNCwxMTYuOTggMjA5LjQ2LDExMS41IDE5OS41MSwxMzguMjkgIi8+Cjxwb2x5Z29uIG9wYWNpdHk9IjAuMiIgZmlsbD0iI0ZGRkZGRiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyIgcG9pbnRzPSI0MTIuMTgsMzY5Ljc3IDQyOS42OCwzNzkuMzMgNDEyLjE4LDM4OS44NiAiLz4KPGNpcmNsZSBvcGFjaXR5PSIwLjIiIGZpbGw9IiNGRkZGRkYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXciIGN4PSIyODUuNTgiIGN5PSIxOC40OCIgcj0iOS44MyIvPgo8cG9seWdvbiBvcGFjaXR5PSIwLjIiIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTE2OS4xNywzNTcuMTcgMTIxNi41LDI5MS44MyAxMjgxLDMzOCAxMjM0LjgzLDQwMi44MyAiLz4KPHBvbHlnb24gb3BhY2l0eT0iMC4yIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjE2Mi43NSwyNTAuMjUgMjE2LjI1LDI2MS43NSAyMDUuMTIsMzE1LjQ2IDE1MC43NSwzMDQuNSAiLz4KPC9zdmc+Cg==) no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.p-login-btn{
    width: 100%;
    margin-top: 20px;
}
.p-error-tip{
    margin-top: 5px;
    display: none;
}
.p-input-label {
    font-size: 15px;
    font-weight: 700;
    color: #6b6b6b;
}
.p-input-box {
    margin-top: 10px;
    width: 350px;
}
.captcha-group-box{
    width: 355px;
}
.p-input {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    margin-top: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #555;
}
.p-login-box-bottom{
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}
.p-input:focus{
    outline: none;
}
.p-login-box-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    color: #757575;
    line-height: 30px;
}
.captcha-box{
    width: 70px;
    margin-left: -5px;
}
.captcha-box img{
    border: 1px solid  #ccc;
    height: 35px;
    width: 70px;
    cursor: pointer;
}
.captcha-input{
    height: 37px;
    border-right: none;
    border-color: #ccc;
}
.captcha-input-box{
    width: calc(100% - 70px);
}
.captcha-group{
    width: 100%;
}
@media screen and (max-width:500px) {
    .p-login-box {
        width: 300px;
    }
    .p-input-box{
        width: 290px;
    }
}
@media screen and (max-width:360px) {
    .p-login-box {
        width: 280px;
    }
    .p-input-box{
        width: 270px;
    }
}
