
.login-captcha-btn {
    line-height: 44px;
    text-align: center;
    background-color: transparent;
    outline: none;
    color: #666;
    padding: 0 !important;
}

/** 获取图形验证码弹窗 */
.layer-get-code {
    padding: 25px 25px;
}

.layer-get-code > p {
    color: #666;
    font-size: 16px;
}

.layer-get-code > .lay-code-group {
    position: relative;
    padding-right: 135px;
    margin: 15px 0;
}

.layer-get-code > .lay-code-group > .layui-input {
    border-radius: 0;
    height: 46px;
    line-height: 46px;
    background-color: transparent;
    border-color: rgba(111, 121, 122, 0.3);
}

.layer-get-code > .lay-code-group > img {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    width: 120px;
    box-sizing: border-box;
    cursor: pointer;
}

.layer-get-code .layui-btn-fluid {
    line-height: 50px;
    height: 50px;
}

/** //获取图形验证码弹窗 */

.layui-btn-disabled {
    cursor: not-allowed !important;
    color: #999 !important;
}