<div class="m-header">
    <div class="m-header-logo">
        <a class="m-header-logo-text" href="/">#option('WEB_NAME','未设置')</a>
    </div>
    <div class="m-header-menu">
        <!-- 菜单部分 -->
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item">
                <a href="/"><i class="fa fa-home"></i> 首页</a>
            </li>
            #menus()
                #for(menu : menus)
                    #if(menu.childMenu !=null && menu.childMenu.size() > 0)
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;">
                                <i class="fa fa-#(menu.icon ?? 'bars')"></i> #(menu.name ??)
                                <span class="down"><i class="fa fa-angle-down"></i></span>
                            </a>
                            <dl class="layui-nav-child">
                                #for(children: menu.childMenu)
                                    <dd lay-unselect>
                                        <a href="#(children.url)" target="#(children.target == 0 ? '_self' : '_blank')">
                                            #(children.name ??)
                                        </a>
                                    </dd>
                                #end
                            </dl>
                        </li>
                    #else
                        <li class="layui-nav-item">
                            <a href="#(menu.url ??)" target="#(menu.target == 0 ? '_self' : '_blank')"><i class="fa #(menu.icon ??)"></i> #(menu.name ??)</a>
                        </li>
                    #end
                #end
            #end
        </ul>
    </div>

    <div class="m-header-user-box">
        <ul class="layui-nav" lay-filter="">
            #if(loginUser)
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src=" #(isBlank(loginUser.avatar) ? '/static/public/images/user.png': loginUser.avatar.replace('http://www.gravatar.com/','https://gravatar.loli.net/'))" alt="" class="user-img"> #(loginUser.userName ??)
                        <span class="down"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <dl class="layui-nav-child">
                        #if(loginUser.hasAdmin())
                            <dd><a href="/admin"><i class="fa fa-briefcase"></i> 后台管理</a></dd>
                        #end
                        <dd><a href="/logout" data-pjax="no"><i class="fa fa-sign-out"></i> 退出登录</a></dd>
                    </dl>
                </li>
            #else
                <a class="m-header-login-btn" data-pjax="no" href="/login">登录</a>
                <span class="part">|</span>
                <a class="m-header-register-btn" data-pjax="no" href="/register">注册</a>
            #end
        </ul>
    </div>
</div>