#define layout()
    <html lang="zh-CN">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <META HTTP-EQUIV="pragma" CONTENT="no-cache">
            <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
            <META HTTP-EQUIV="expires" CONTENT="0">
            <title>#(SEO_TITLE ?? WEB_TITLE ?? '未设置')</title>
            <meta name="keywords" content="#(SEO_KEYWORD ??)">
            <meta name="description" content="#(SEO_DESC ??)">
            <link rel="Shortcut Icon" href="#option('WEB_LOGO','/static/public/images/favicon.ico')" type="image/x-icon"/>
            <link href="//cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css" rel="stylesheet">
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/layui@2.6.8/dist/css/layui.css">
            <link href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <link href="/static/themes/perfree/static/css/main.css?v=#(version)" rel="stylesheet">
            <link href="/static/themes/perfree/static/css/index.css?v=#(version)" rel="stylesheet">
            <style>
                .light{
                    --default-primary-color: #option('PERFREE_PRIMARY_COLOR', '#409eff');
                }
                .dark{
                    --default-primary-color: #option('PERFREE_PRIMARY_COLOR', '#409eff');
                }
            </style>
            #@css?()
        </head>
        <body class="light">
            <div class="m-layout" id="m-layout">
               #include("/static/themes/perfree/layout/header.html")
                <div class="m-content">
                    <div class="m-content-left">
                        <!-- 引入content部分 -->
                        #@content()
                    </div>
                    <div class="m-content-right" id="m-content-right">
                        #include("/static/themes/perfree/layout/right.html")
                    </div>
                </div>
                <div class="m-footer-container">
                    #include("/static/themes/perfree/layout/footer.html")
                </div>
            </div>

            <div class="page-btn-box">
                <a class="page-btn backUp hide" title="返回顶部"><i class="fa fa-chevron-up"></i></a>
                <a class="page-btn night" title="切换白天/黑夜模式"><i class="fa fa-moon-o"></i></a>
                <a></a>
            </div>
            <script src="//cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
            <script>NProgress.start();</script>
            <script src="//cdn.jsdelivr.net/npm/layui@2.6.8/dist/layui.js"></script>
            <script src="/static/themes/perfree/static/js/common.js?v=#(version)"></script>
            <script src="/static/themes/perfree/static/js/main.js?v=#(version)"></script>
            #@script?()
            <script>
                window.onload = function () {
                    NProgress.done();
                };
            </script>
        </body>
    </html>
#end