<div class="right-side-container">

    <div class="m-right-user-info">
        <div class="m-user-info">
            <a class="m-user-photo-box">
                <img class="m-user-photo" src="#option('PERFREE_WEB_LOGO','/static/themes/perfree/static/images/6.gif')">
            </a>
            <h2 class="m-user-name">#option('PERFREE_WEB_NAME','未设置')</h2>
            <span class="m-hitokoto" id="hitokoto">
                正在加载...
            </span>
            <div class="m-user-info-other">
                #statistics()
                    <div class="m-info-other">
                        <span class="num">#(statistics.articleCount)</span>
                        <span style="font-size: 12px;">文章数</span>
                    </div>
                    <div class="m-info-other">
                        <span class="num">#(statistics.commentCount)</span>
                        <span style="font-size: 12px;">评论数</span>
                    </div>
                #end
            </div>

            <div>
                <ul class="m-right-article-list">
                    #hotArticle(count=5,type=0)
                        #for(article : articles)
                            <li class="m-right-article">
                                <a href="#(article.url)"><span class="hot-item-icon">•</span>#(article.title)</a>
                            </li>
                        #end
                    #end
                </ul>
            </div>
        </div>
    </div>

    <div class="m-right-search-box">
        <form action="/article/search" method="get">
            <input type="text" placeholder="搜索文章" name="title" class="m-search-input">
            <button type="submit" class="layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>

    <!-- 热门最新文章 -->
    <div class="m-right-article-box">
        <div class="m-right-article-title"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;最新文章</div>
        <ul class="m-right-article-list">
            #latestArticle(count=10)
                #for(article : articles)
                    <li class="m-right-article">
                        <a href="#(article.url)">#(article.title)</a>
                    </li>
                #else
                    还未产生文章~
                #end
            #end
        </ul>
    </div>

    <!-- 热门标签 -->
    <div class="m-right-tags-box">
        <div class="m-right-tags-title"><i class="fa fa-tags"></i>&nbsp;&nbsp;热门标签</div>
        <div class="m-right-tag-box">
            #hotTag(count=10)
                #for(tag : tags)
                    <a href="#(tag.url)" class="m-right-tag" title="共#(tag.articleCount ??)篇文章">#(tag.name)</a>
                #else
                    还未产生标签~
                #end
            #end
        </div>
    </div>
</div>