<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfree.mapper.AttachLibraryItemsMapper">


    <resultMap id="ATTACH_LIBRARY_ITEMS_RESULT" type="com.perfree.controller.auth.attachLibraryItems.vo.AttachLibraryItemsRespVO" autoMapping="true">
        <id property="id" column="id"/>
        <association property="userInfo" javaType="com.perfree.commons.common.CommonUserMsg">
            <id property="id" column="createUserId" />
            <result property="userName" column="userName"/>
            <result property="avatar" column="avatar"/>
            <result property="email" column="email"/>
            <result property="website" column="website"/>
        </association>
    </resultMap>

    <select id="attachLibraryItemsPage" resultMap="ATTACH_LIBRARY_ITEMS_RESULT">
        SELECT t1.*,t2.userName,t2.avatar,t2.email,t2.website FROM p_attach_library_items t1 left JOIN p_user t2 on t1.createUserId = t2.id
        <where>
            <if test="pageVO.attachLibraryId != null">
                and t1.attachLibraryId = #{pageVO.attachLibraryId}
            </if>
            <if test="pageVO.name != null and pageVO.name != ''">
                <bind name="name" value="'%' + _parameter.pageVO.name + '%'" />
                and t1.name like #{name}
            </if>
        </where>
    </select>
    <select id="getById" resultMap="ATTACH_LIBRARY_ITEMS_RESULT">
        SELECT t1.*,t2.userName,t2.avatar,t2.email,t2.website FROM p_attach_library_items t1 left JOIN p_user t2 on t1.createUserId = t2.id where t1.id = #{id}
    </select>
</mapper>
