<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfree.mapper.CategoryMapper">

    <resultMap id="CATEGORY_RESULT_MAP" type="com.perfree.controller.auth.category.vo.CategoryRespVO" autoMapping="true">
        <id property="id" column="id"/>
        <association property="userInfo" javaType="com.perfree.commons.common.CommonUserMsg">
            <id property="id" column="createUserId" />
            <result property="userName" column="userName"/>
            <result property="avatar" column="avatar"/>
            <result property="email" column="email"/>
            <result property="website" column="website"/>
        </association>
    </resultMap>

    <!-- 查询所有 -->
    <select id="getAllCategory" resultMap="CATEGORY_RESULT_MAP">
        select t1.*, (select count(1) from p_article_category WHERE categoryId = t1.id) as `count`,t2.userName,t2.avatar,t2.email,t2.website
        from p_category t1 left JOIN p_user t2 on t1.createUserId = t2.id
      <where>
          <if test="reqVo.name != null and reqVo.name != ''">
              <bind name="name" value="'%' + _parameter.reqVo.name + '%'" />
              and t1.name like #{name}
          </if>
          <if test="reqVo.status != null">
              and t1.status = #{reqVo.status}
          </if>
      </where>
        order by t1.createTime desc
    </select>

    <!-- 根据id查询 -->
    <select id="getCategoryById" resultMap="CATEGORY_RESULT_MAP">
        select t1.*, (select count(1) from p_article_category WHERE categoryId = t1.id) as `count`,t2.userName,t2.avatar,t2.email,t2.website
        from p_category t1 left JOIN p_user t2 on t1.createUserId = t2.id where t1.id = #{id}
    </select>

    <!-- 根据slug查询 -->
    <select id="selectBySlug" resultMap="CATEGORY_RESULT_MAP">
        select t1.*, (select count(1) from p_article_category WHERE categoryId = t1.id) as `count`,t2.userName,t2.avatar,t2.email,t2.website
        from p_category t1 left JOIN p_user t2 on t1.createUserId = t2.id where t1.slug = #{slug}
    </select>

    <select id="categoryPage" resultMap="CATEGORY_RESULT_MAP">
        select t1.*, (select count(1) from p_article_category WHERE categoryId = t1.id) as `count`,t2.userName,t2.avatar,t2.email,t2.website
        from p_category t1 left JOIN p_user t2 on t1.createUserId = t2.id
        <where>
            <if test="pageVO.name != null and pageVO.name != ''">
                <bind name="name" value="'%' + _parameter.pageVO.name + '%'" />
                and t1.name like #{name}
            </if>
        </where>
    </select>
    <select id="getHotCategory" resultMap="CATEGORY_RESULT_MAP">
        select t1.*, (select count(1) from p_article_category WHERE categoryId = t1.id) as `count`,t2.userName,t2.avatar,t2.email,t2.website
        from p_category t1 left JOIN p_user t2 on t1.createUserId = t2.id
        ORDER BY `count` desc LIMIT 0,#{num}
    </select>
</mapper>
