#siteSetting{
    display: none;
}
.site-list li{
    cursor: pointer;
    padding: 5px;
}
.site-list li:hover{
    background: whitesmoke;
}
.layui-input, .layui-select, .layui-textarea {
    height: 40px;
    line-height: 40px;
}
.layui-form-label {
    line-height: 30px;
    color: #484444;
}
.updateLabel{
    font-weight: 600;
}
.layui-textarea {
    min-height: 100px;
    height: auto;
    line-height: 20px;
    padding: 6px 10px;
    resize: none;
}
.update-content{
    display: none;
}
.update-console{
    display: none;
    height: 400px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
    background: #1d1f26;
    color: #e3e3e3;
}
.update-console p:hover {
    background: #333642;
}
.p-upload-box {
    display: inline-block;
    width: 110px;
    height: 100px;
    line-height: 100px;
    border: 1px dashed rgb(230, 230, 230);
    text-align: center;
}
.updateError{
    color: red;
}
.layui-form-radio {
    color: rgb(72, 68, 68);
}
.download-btn{
    color: #4a9fff;
    padding: 5px 15px;
    display: block;
    border-radius: 5px;
}
.layui-input-block{
    margin-left: 130px;
}