.d-banner{
    width: 100%;
    height: 440px;
    background: #28282d;
    background: url(/static/themes/default/static/imgs/bg.jpg) center/cover no-repeat;
}
.d-hero-box{
    color: var(--hero-color);
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 175px;
}
.d-hero-title{
    font-size: 30px;
    font-weight: 600;
}
.d-hero-desc{
    font-size: 15px;
    padding-top: 15px;
}
.d-hero-desc span{
    margin-right: 5px;
}
.d-link-container{
    margin-top: 20px;
}
.d-link{
    display: block;
    box-shadow: var(--box-border);
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    transition: all .3s;
}
.d-link:hover{
    color: white;
    transform: scale(1.01);
    box-shadow: var(--box-border-hover);
}
.d-link-content{
    display: flex;
    height: 55px;
    overflow: hidden;
}
.d-link-title h2{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}
.d-link-desc{
    width: 100%;
    font-size: 14px;
    opacity: .9;
    padding-right: 10px;
}
.d-link-content img {
    border-radius: 50%;
}
.comment-box .comment-editor, .comment-box .comment-name-input,
.comment-box .comment-email-input,.comment-box .comment-website-input,
.comment-box .comment-submit-box .comment-cancel-btn{
    background-color: var(--comment-background);
    border: 1px solid var(--comment-border-color);
    color: var(--font-color);
}
.comment-box .comment-submit-box .comment-submit-btn{
    background: var(--primary-color);
}
.comment-box .comment-emjoi-btn{
    color: var(--font-color-b);
}
.comment-detail-content{
    background-color: var(--background-b);
    color: var(--font-color);
}
.comment-pagination{
    margin-top: 15px;
}
.comment-pagination .page{
    background: var(--background);
    border: 1px solid var(--border-color-b);
    color: var(--font-color);
}
.comment-pagination .page:hover{
    background: var(--primary-color);
    color: var(--hero-color)
}
.comment-pagination .active{
    background: var(--primary-color);
    color: var(--hero-color)
}
.comment-pagination .disabled, .comment-pagination .disabled:hover{
    cursor: not-allowed;
    background: var(--background);
    color: var(--font-color);
}
.comment-detail-reply-btn{
    background: var(--primary-color);
}
.comment-detail-name{
    color: var(--primary-color);
}
@media screen and (max-width:750px) {
    .d-banner{
        height: 330px;
    }
    .d-hero-box{
        width: calc(100% - 40px);
        padding-top: 110px;
    }
}