<div class="m-comment-edit" id="m-comment-edit">
    #if(article.isComment == 1)
        #user()
            #if(user != null)
                <form class="layui-form" id="commentForm" method="post" action="/comment/submitComment">
                    <input type="hidden" name="articleId" value="#(article.id)" id="articleId">
                    <input type="hidden" name="pid" id="pid">
                    <input type="hidden" name="anchor" value="#m-comment-edit">
                    <textarea id="comment-edit" name="content" placeholder="说点什么吧？"></textarea>
                    <div class="m-comment-edit-info">
                        <span class="m-comment-tip">说点什么吧?</span>
                        <a class="m-comment-cancel-revert">取消回复</a>
                        <div class="m-comment-send-box">
                            <button class="layui-btn layui-btn-normal m-comment-edit-submit-btn" lay-submit lay-filter="comment">发表评论</button>
                        </div>
                    </div>
                </form>
            #else
                <div class="m-comment-unlogin">
                    <a href="/login">登录</a>即可评论~
                </div>
            #end
        #end
    #end
</div>
#commentPage(pageSize=8)
    <div class="m-comment-list" id="comments">
        #for(comment : commentPage.data)
        <div class="m-comment-detail-box layui-clear">
            <div class="m-comment-detail-left">
                <img src="#(comment.user.avatar ?? '/images/user.png')" class="m-comment-detail-img">
            </div>
            <div class="m-comment-detail-right">
                <div class="m-comment-detail-right-top">
                    <span class="m-comment-detail-user">#(comment.user.userName??)</span>
                    <span class="m-comment-detail-time time">#date(comment.createTime, "yyyy-MM-dd HH:mm:ss")</span>
                </div>
                <div class="m-comment-detail-content">
                    #(comment.content ??)
                </div>
                #if(article.isComment == 1)
                    #user()
                        #if(user != null)
                            <div class="m-comment-right-bottom">
                                <a class="m-comment-detail-revert-btn" data-id="#(comment.id)" data-author="#(comment.user.userName ??)">回复</a>
                            </div>
                        #end
                    #end
                #end

                #if(comment.parent)
                    <div class="m-comment-detail-box parentComment layui-clear">
                        <div class="m-comment-detail-left">
                            <img src="#(comment.parent.user.avatar ?? '/images/user.png')" class="m-comment-detail-img">
                        </div>
                        <div class="m-comment-detail-right">
                            <div class="m-comment-detail-right-top">
                                <span class="m-comment-detail-user">#(comment.parent.user.userName ??)</span>
                                <span class="m-comment-detail-time time">#date(comment.parent.createTime, "yyyy-MM-dd HH:mm:ss")</span>
                            </div>
                            <div class="m-comment-detail-content">
                                #(comment.parent.content ??)
                            </div>
                        </div>
                    </div>
                #end

            </div>
        </div>
        #else
            <div class="no-comment">
                <i class="fa fa-volume-up" aria-hidden="true"></i> 还没有人评论~赶快抢占沙发吧~
            </div>
        #end

        #if(commentPage.pagers)
            <nav class="m-pager-box">
                <a class="m-pager #(commentPage.preUrlStyle)" href="#(commentPage.preUrl ??)#comments"><</a>
                #for(page : commentPage.pagers)
                <a class="m-pager #(page.style)" href="#(page.url ??)#comments">#(page.text ??)</a>
                #end
                <a class="m-pager #(commentPage.nextUrlStyle)" href="#(commentPage.nextUrl ??)#comments">></a>
            </nav>
        #end
    </div>
#end