<div class="m-comment-edit" id="m-comment-edit">
    #if(article.isComment == 1)
        <form class="layui-form" id="commentForm">
            <input type="hidden" name="articleId" value="#(article.id)" id="articleId">
            <input type="hidden" name="pid" id="pid">
            <textarea id="comment-edit" name="content" placeholder="说点什么吧？"></textarea>
            <div class="m-comment-edit-info">
                #user()
                    #if(user == null)
                        <input type="text" placeholder="姓名或昵称(必填)" class="m-comment-input" name="userName">
                        <input type="text" placeholder="邮箱地址(必填)" class="m-comment-input" name="email">
                        <input type="text" placeholder="网站或博客地址" class="m-comment-input" name="website">
                    #end
                #end
                <a class="m-comment-cancel-revert">取消回复</a>
                <div class="m-comment-send-box">
                    <button class="layui-btn layui-btn-normal m-comment-edit-submit-btn" lay-submit lay-filter="comment">发表评论</button>
                </div>
            </div>
        </form>
    #else
        <div class="no-comment">
            该文章已关闭评论功能
        </div>
    #end
</div>
#commentPage(pageSize=8)
<div id="commentsBox">
    <div class="m-comment-list" id="comments">
        #for(comment : commentPage.data)
        <div class="m-comment-detail-box layui-clear" id="comment-#(comment.id)">
            <div class="m-comment-detail-left">
                <img src="#(isBlank(comment.avatar) ? '/static/public/images/user.png' : comment.avatar)" class="m-comment-detail-img">
            </div>
            <div class="m-comment-detail-right">
                <div class="m-comment-detail-right-top">
                    <span class="m-comment-detail-user">#(comment.userName??)</span>
                    <span class="m-comment-detail-time time">#date(comment.createTime, "yyyy-MM-dd HH:mm:ss")</span>
                </div>
                <div class="m-comment-detail-content">
                    #(comment.content ??)
                </div>
                #if(article.isComment == 1)
                    <div class="m-comment-right-bottom">
                        <a class="m-comment-detail-revert-btn" data-id="#(comment.id)" data-author="#(comment.userName ??)">回复</a>
                    </div>
                #end

                #if(comment.parent)
                    <div class="m-comment-detail-box parentComment layui-clear">
                        <div class="m-comment-detail-left">
                            <img src="#(isBlank(comment.parent.avatar) ? '/static/public/images/user.png' : comment.parent.avatar)" class="m-comment-detail-img">
                        </div>
                        <div class="m-comment-detail-right">
                            <div class="m-comment-detail-right-top">
                                <span class="m-comment-detail-user">#(comment.parent.userName ??)</span>
                                <span class="m-comment-detail-time time">#date(comment.parent.createTime, "yyyy-MM-dd HH:mm:ss")</span>
                            </div>
                            <div class="m-comment-detail-content">
                                #(comment.parent.content ??)
                            </div>
                        </div>
                    </div>
                #end

            </div>
        </div>
        #else
            #if(article.isComment == 1)
                <div class="no-comment">
                    <i class="fa fa-volume-up" aria-hidden="true"></i> 还没有人评论~赶快抢占沙发吧~
                </div>
            #end
        #end

        #if(commentPage.pagers)
            <nav class="m-pager-box">
                <a class="m-pager #(commentPage.preUrlStyle)" href="#(commentPage.preUrl ??)#comments"><</a>
                #for(page : commentPage.pagers)
                <a class="m-pager #(page.style)" href="#(page.url ??)#comments">#(page.text ??)</a>
                #end
                <a class="m-pager #(commentPage.nextUrlStyle)" href="#(commentPage.nextUrl ??)#comments">></a>
            </nav>
        #end
    </div>
</div>
#end