<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfree.mapper.TagMapper">

    <select id="getHotTag" resultType="com.perfree.model.Tag">
        SELECT t.*,IFNULL(t1.articleCount,0) articleCount from p_tag t LEFT JOIN
       (SELECT tagId, count(1) articleCount FROM `p_article_tag` GROUP BY tagId) t1 ON t.id = t1.tagId
        ORDER BY t1.articleCount desc
            LIMIT 0,#{count}
    </select>
</mapper>
