.p-theme-Abox{
    padding: 5px;
}
.p-theme-box{
    height: 330px;
    background: white;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.themeImgBox{
    width: 100%;
    text-align: center;
    position: relative;
    height: calc(100% - 97px);
}
.themeImgBox img{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    box-shadow: rgb(0 21 41 / .11) 0px 0px 6px 3px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 5px;
}
.p-theme-info{
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #e8e8e8;
    padding-left: 15px;
    padding-right: 15px;
    background: #fafafa;
}
.p-theme-addPanel{
    text-align: center;
    line-height: 30px;
}
.themeBtn{
    background: rgb(250 250 250);
    color: #000000a6;
    border-right: 1px solid #e8e8e8;
    width: calc(25% - 11px);
    font-size: 13px;
}
.themeBtn:hover{
     background: rgb(250 250 250);
 }
.rBtn{
    border-right: none;
}
.p-theme-addPanel a{
    cursor: pointer;
}
.themeTitle{
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    background: white;
    font-weight: 700;
    color: #000000a8;
}