.p-theme-Abox{
    padding: 5px;
}
.p-theme-box{
    height: 360px;
    background: white;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.themeImgBox{
    width: 100%;
    text-align: center;
    position: relative;
    height: calc(100% - 102px);
}
.themeImgBox img{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    box-shadow: rgb(0 21 41 / .11) 0px 0px 6px 3px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 5px;
}
.p-theme-info{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #e8e8e8;
    padding-left: 15px;
    padding-right: 15px;
    background: #fafafa;
    text-align: right;
}
.p-theme-addPanel{
    text-align: center;
    line-height: 30px;
}
.p-theme-addPanel a,.themeBtn,.themeBtn:hover{
    color: #1e9fff;
    cursor: pointer;
}
.removeThemeBtn{
    background: #FF5722;
}
.editThemeBtn{
    background: #003366;
}
.previewThemeBtn{
    background: #666699;
}
.themeTitle{
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    background: #fafafa;
    font-weight: 700;
}