<div class="layui-fluid bottom-nav">
    <div class="layui-row bottom-logo">
        <div class="layui-col-md4 layui-col-md-offset4 text-center">
            <img th:src="${settings.website_logo_large}" alt="NotePress">
        </div>
    </div>
    <hr style="background: rgba(230, 230, 230, 0.54);">
    <div class="layui-row layui-col-space30" style="padding-top: 20px;">
        <div class="layui-col-md4 copyright">
            <p style="text-align: center;">
                <i class="fa fa-copyright"></i>&nbsp;[[${settings.footer_copyright}]] Powered by
                <a href="//wuwenbin.me/content/u/deployDoc" target="_blank" style="color: #1E9FFF;">NotePress</a> in 2021 .
            </p>
        </div>
        <div class="layui-col-md4 cates">
            <p>分类</p>
            <span class="layui-badge-rim no-select" th:each="cate,stat :${cateList}">
                <a th:if="${stat.index<15}"
                   th:href="${'/index?c='+cate.id+'&search=1'}" th:text="${cate.nickname}"></a>
            </span>
        </div>
        <div class="layui-col-md4 manage">
            <p style="margin-bottom: 10px;">数据・用户</p>
            <p class="data">
                <span>[[${#numbers.formatDecimal(contentCount,1,'COMMA',0,'POINT')}]] <b>文章</b></span>
                <span>[[${#numbers.formatDecimal(commentCount,1,'COMMA',0,'POINT')}]] <b>评论</b></span>
                <span>[[${#numbers.formatDecimal(runningDays,1,'COMMA',0,'POINT')}]] <b>天</b></span>
                <span>[[${#numbers.formatDecimal(blogWords,1,'COMMA',0,'POINT')}]] <b>字数</b></span>
            </p>
            <p>
                <a th:if="${npsu ==null}" onclick="npfront.bottomLogin();"
                   class="layui-btn layui-btn-sm layui-btn-primary">登录</a>
                <span th:if="${npsu !=null}" class="layui-mr15">
                    <span style="color: #4c4c4c;font-style: italic;">个人中心</span>：<img th:src="${npsu.avatar}" class="layui-circle" style="width: 30px;height: 30px;border: 1px solid #ccc;"/>
                    <a th:text="${npsu.nickname}" class="layui-text layui-word-aux"
                       href="/token/ubs"></a>
                </span> <a onclick="npfront.tokenLogout();" class="layui-btn layui-btn-sm layui-btn-primary">退出</a>
            </p>
        </div>
    </div>
</div>
