.p-container{
    height: 100%;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
}
html{
    height: calc(100% - 20px);
}
body{
    height: 100%;
}
.p-container-left {
    min-height: 100%;
    border-right: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.p-container-right {
    min-height: 100%;
}
.mdui-textfield{
    padding-top: 0;
}
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: white;
}
.CodeMirror-selectedtext{
    background: #d9d9d9!important;
}
.w-e-toolbar {
    background: white!important;
    height: 40px;
    line-height: 40px;
    padding: 0;
}
.w-e-toolbar .w-e-menu {
    padding: 0 10px!important;
}
.editor-switch-box{
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.editor-switch-box{
    font-size: 13px;
    color: #555;
}
.editor-switch-btn{
    cursor: pointer;
    font-size: 13px;
    color: #545353;
    margin-bottom: 3px;
    margin-top: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.editormd-toolbar {
    display: block!important;
    position: absolute!important;
    width: 100% !important;
    left: 0!important;
}
.w-e-toolbar .w-e-menu i {
    color: rgb(102 102 102)!important;
}
.w-e-text-container{
    height: 600px !important;/*!important是重点，因为原div是行内样式设置的高度300px*/
}
.mdui-dialog-open{
    z-index: 99999;
}
.w-e-text-container{
    z-index: 100!important;
}

.p-input:focus{
    outline: none;
}
.p-input {
    font-weight: 600;
    font-size: 15px;
    height: 35px;
    padding-left: 5px;
    margin-top: 3px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    width: calc(100% - 10px);
    padding-right: 5px;
}