.layui-input, .layui-select, .layui-textarea{
    height: 30px;
    line-height: 30px;
}
.layui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.layui-form-label {
    padding: 5px 15px;
    width: auto;
}
html{
    overflow: auto;
}
html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #adabab;
}

html::-webkit-scrollbar-track-piece {
    background: #e8e8e8;
}