.layui-input, .layui-select, .layui-textarea{
    height: 30px;
    line-height: 30px;
}
.layui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.layui-form-label {
    padding: 5px 15px;
    width: auto;
}
html{
    overflow: auto;
}
.layui-layout-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.layui-layout-body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #adabab;
}

.layui-layout-body::-webkit-scrollbar-track-piece {
    background: #e8e8e8;
}
.layui-layer-shade{
    opacity: 0.1!important;
}
.p-add-panel{
    padding: 10px;
}
.add-btn-box{
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.layui-btn-xs{
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
}
.layui-btn+.layui-btn{
    margin-left: 4px;
}
.p-container{
    padding: 6px;
    background: #f2f2f2;
    min-height: calc(100% - 12px);
}
.layui-table-cell img{
    width: 25px;
}
.layui-form-select dl dd, .layui-form-select dl dt {
    line-height: 30px;
}
.layui-form-select dl {
    top: 32px;
}
.hideMargin{
    margin: 0;
}
html{
    height: 100%;
}
.layui-layout-body{
    height: 100%;
    overflow: auto;
}
.layui-card-body {
    padding: 15px 15px;
}
.layui-card {
    margin: 6px;
}
.p-upload-show{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.p-upload{
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.p-upload i{
    font-size: 22px;
    color: #615d5d;
}
.p-upload-box{
    display: inline-block;
    width: 180px;
    height: 160px;
    line-height: 160px;
    border: 1px dashed #e6e6e6;
    text-align: center;
}
.p-show-img{
    width: 100%;
    height: 100%;
}
.p-delete-img{
    position: absolute;
    left: 0;
    top: 1px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #00000066;
    color: red;
    display: none;
}
.p-delete-img i{
    font-size: 22px;
    cursor: pointer;
}
.p-add-panel{
    background: white;
}
.tagBtn{
    margin-right: 5px;
    display: inline-block;
    background: #5fb878;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    font-size: 13px;
}
.tagBtn:hover{
    background: #5fb878;
    color: white;
}