.layui-input, .layui-select, .layui-textarea{
    height: 30px;
    line-height: 30px;
}
.layui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.layui-form-label {
    padding: 5px 15px;
    width: auto;
}
html{
    overflow: auto;
}
html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #adabab;
}

html::-webkit-scrollbar-track-piece {
    background: #e8e8e8;
}
.layui-layer-shade{
    opacity: 0.1!important;
}
.p-add-panel{
    padding: 10px;
}
.add-btn-box{
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.layui-btn-xs{
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
}
.layui-btn+.layui-btn{
    margin-left: 4px;
}
.p-container{
    padding: 12px;
    background: #f2f2f2;
    min-height: 100%;
}
.layui-table-cell img{
    width: 25px;
}
.layui-form-select dl dd, .layui-form-select dl dt {
    line-height: 30px;
}
.layui-form-select dl {
    top: 32px;
}
.hideMargin{
    margin: 0;
}
html{
    height: 100%;
}
.layui-layout-body{
    height: 100%;
}
.layui-card-body {
    padding: 15px 15px;
}