<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.mapper.HelloWorldMapper" >
    <select id="index2" resultType="java.lang.String">
        select count(1) from `p_article`
    </select>
</mapper>
