.light{
    /*--default-primary-color: rgb(242, 109, 109);*/
    --default-primary-color: #409eff;
    --default-text-color: #757575;
    --default-background-color: white;
    --default-background-color-b: #f1f3f4;
    --default-border-color: #ddd;
    --default-hover-background-color: #f2f2f2;
}
.dark{
    --default-primary-color: #409eff;
    --default-text-color: #999;
    --default-border-color: #585858;
    --default-background-color:#333333;
    --default-background-color-b: #424141;
    --default-hover-background-color: #202020;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 14px;
    font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;;
    line-height: 1.5715;
    background-color: var(--default-background-color);
    font-feature-settings: 'tnum';
    color: var(--default-text-color);
}
body::-webkit-scrollbar-track-piece,body::-webkit-scrollbar-track-piece {
    background: #eee;
}
body::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cbcbcb;
}
body::-webkit-scrollbar,body::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
::selection {
    color: #fff;
    background: var(--default-primary-color);
}
a {
    color: var(--default-primary-color);
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}
.layui-badge, .layui-badge-dot, .layui-badge-rim{
    background-color: var(--default-primary-color);
}
a:active, a:hover {
    text-decoration: none;
    outline: 0;
}
a:active {
    color: var(--default-primary-color);
}
a:hover {
    color: var(--default-primary-color);
}
.m-layout{
    margin: 0;
    width: 100%;
    background: var(--default-background-color-b);
    position: relative;
}

.m-content{
    min-height: calc(100vh - 90px);
    width: 65%;
    margin: auto;
}
.m-content:after, .m-content:before {
    content: "";
    display: block;
    clear: both;
}
.m-content-left{
    width: calc(100% - 255px);
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.m-content-right{
    width: 245px;
    float: right;
    margin-bottom: 10px;
}
.m-info-other .num{
    font-size: 19px;
    font-weight: 700;
    color: var(--default-text-color);
    text-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}
.m-footer-container{
    background: var(--default-background-color);
    z-index: 100;
    position: relative;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    height: 50px;
    line-height: 50px;
}
.m-footer{
    height: 50px;
    line-height: 50px;
    width: 65%;
    margin: auto;
}
.layui-tab-bar{
    display: none;
}

@keyframes backtop{
    0% {top: 0;}
    100% {top: -50px;}
}

.m-header{
    height: 50px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 50px;
    margin: auto;
    width: 65%;
}
.m-header-container{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    background: var(--default-background-color);
    left: 0;
    top: 0;
}
.m-header-logo{
    display: inline-block;
    width: auto;
    height: 50px;
    line-height: 50px;
}
.m-header-logo-text{
    color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--default-primary-color), var(--default-text-color));
    font-style:italic;
    padding-right: 12px;
}
.m-header-logo-text:hover{
    color: transparent;
    background-image: linear-gradient(to right, var(--default-primary-color), var(--default-text-color));
}
.m-header-menu{
    display: inline-block;
    background: var(--default-background-color);
    height: 50px;
    position: absolute;
    top: 0;
}
.layui-nav{
    height: 100%;
    border-radius: 0;
    background-color:var(--default-background-color);
    color: rgba(0, 0, 0, 0.65);
    padding: 0;
}
.layui-nav .layui-nav-item{
    line-height: inherit;
}
.layui-nav .layui-nav-item a{
    color: var(--default-text-color);
    padding: 0 15px;
}
.layui-nav-child{
    background: var(--default-background-color);
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
    height: 0;
}
.layui-nav .layui-nav-more{
    display: none;
}
.layui-nav-child{
    top: 50px;
}
.down{
    width: 6px;
    display: inline-block;
    font-size: 16px;
}
.m-header-user-box{
    display: inline-block;
    float: right;
    height: 100%;
}
.user-img{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}
.empty{
    width: 18px;
    display: inline-block;
}
.layui-badge-rim {
    position: absolute;
    right: 5px;
    top: calc(50% - 9px);
}
.m-header-login-btn:hover,.m-header-register-btn:hover{
    color: var(--default-primary-color);
}
.m-header-register-btn,.m-header-login-btn{
    display: inline-block;
    line-height: 20px;
    padding: 15px 5px;
    float: left;
    color: var(--default-text-color);
}
.part{
    float: left;
    line-height: 50px;
    color: var(--default-text-color);
}
.hot-item-icon{
    margin-right: 5px;
}
.m-right-search-box{
    background: var(--default-background-color);
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}
.m-user-info{
    text-align: center;
}
.m-user-photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 1px 4px 2px rgba(0,0,0,.05);
    background-color: white;
    margin-top: 20px;
}
.m-user-name{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--default-primary-color);
}
.m-user-info .m-user-photo-box{
    display: block;
    width: 100%;
    background-image: url(/static/themes/perfree/static/images/side.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}
.m-user-info-other{
    padding-top: 8px;
    padding-bottom: 12px;
    border-bottom: 1px dashed var(--default-border-color);
    margin-bottom: 8px;
}
.m-info-other{
    display: inline-block;
    width: calc(33.33% - 7px);
}
.m-info-other span{
    display: block;
}
.m-info-other:nth-of-type(n+2){
    border-left: 1px solid var(--default-border-color);
}



.m-right-article-box{
    background: #ffffff;
    margin-top: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.layui-tab-title{
    height: 50px;
}
.layui-tab-title li{
    padding: 0;
    width: 50%;
    line-height: 50px;
}
.layui-tab-title li:hover{
    color: var(--default-primary-color);
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: var(--default-primary-color);
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom: 2px solid var(--default-primary-color);
}
.layui-tab-title .layui-this:after{
    height: 50px;
}
.layui-tab-content {
    padding: 0;
}
.m-right-article{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.m-right-article a{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--default-text-color);
    display: inline-block;
    line-height: 32px;
    max-width: 100%;
}
.m-right-article a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--default-primary-color);
    transition: all 0.35s;
}
.m-right-article a:hover{
    color: var(--default-primary-color);
}
.m-right-article a:hover::after{
    width: 100%;
}
.m-right-tags-box, .m-right-article-box{
    background: var(--default-background-color);
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}
.m-right-tags-title, .m-right-article-title{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--default-border-color);
}
.m-right-tag{
    display: inline-block;
    background: antiquewhite;
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    color: white;
    margin-top: 5px;
}
.layui-nav .layui-nav-child a:hover{
    background: var(--default-hover-background-color);
}
.m-right-tag:hover{
    color: white;
    opacity: .6;
}


.right-side-container-scroll{
    width: 240px;
    position: fixed;
}

.m-right-search-box .layui-btn{
    height: 30px;
    line-height: 30px;
    width: 36px;
    padding: 0;
    position: absolute;
    background: var(--default-primary-color);
}
.m-right-search-box input{
    height: 30px;
    line-height: 30px;
    width: calc(100% - 37px);
    border: 1px solid var(--default-border-color);
    padding-left: 5px;
    padding-right: 5px;
    color: var(--default-text-color);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    background: var(--default-background-color-b);
}
.m-right-user-info{
    background: var(--default-background-color);
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}
.m-container{
    background: var(--default-background-color);
    padding: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.m-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.m-container-title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}
.layui-nav .layui-nav-item a:hover{
    color: var(--default-primary-color);
}
.layui-nav-child {
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.1);
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border: none;
}
.m-footer-left{
    float: left;
}
.m-footer-right{
    float: right;
}
.m-footer-right a,.m-footer-left a{
    color: var(--default-text-color);
}
.m-top{
    top: -2px;
}
.page-btn-box{
    position: fixed;
    bottom: 55px;
    z-index: 99999;
    right: 15px;
    display: inline-block;
}
.page-btn-box .page-btn{
    display: block;
    padding: 12px;
    background: var(--default-background-color);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    margin-top: 6px;
    color: var(--default-text-color);
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 10%);
}
.page-btn-box .page-btn:hover{
    background: var(--default-hover-background-color);
    color: var(--default-text-color);
}
.hide{
    display: none;
}
.page-btn-box .hide-back-up{
    display: none;
}
@media screen and (max-width:1700px) {
    .m-header,.m-content,.m-footer {
       width: 80%;
    }
}

@media screen and (max-width:1400px) {
    .m-header,.m-content,.m-footer {
        width: 80%;
    }
    .f-floor{
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .m-header,.m-content,.m-footer {
        width: 85%;
    }
}

@media screen and (max-width:1000px) {
    .m-header,.m-content,.m-footer {
        width: 90%;
    }
}

@media screen and (max-width:900px) {
    .m-header,.m-content,.m-footer {
        width: 95%;
    }
    .m-content-left {
        width: 100%;
    }
    .m-header-user-box,.m-content-right {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .m-header,.m-content,.m-footer {
        width: 97%;
    }
}