<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfree.mapper.ArticleMapper">

    <resultMap id="ARTICLE_RESULT" type="com.perfree.controller.auth.article.vo.ArticleRespVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="parseContent" column="parseContent"/>
        <result property="summary" column="summary"/>
        <result property="metaKeywords" column="metaKeywords"/>
        <result property="metaDescription" column="metaDescription"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="isTop" column="isTop"/>
        <result property="status" column="status"/>
        <result property="commentCount" column="commentCount"/>
        <result property="viewCount" column="viewCount"/>
        <result property="isComment" column="isComment"/>
        <result property="type" column="type"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="slug" column="slug"/>
        <result property="contentModel" column="contentModel"/>
        <result property="flag" column="flag"/>
        <result property="greatCount" column="greatCount"/>
        <result property="template" column="template"/>
        <association property="user" javaType="com.perfree.controller.auth.article.vo.ArticleUserRespVO">
            <id property="id" column="createUserId" />
            <result property="userName" column="userName"/>
            <result property="avatar" column="avatar"/>
            <result property="email" column="email"/>
            <result property="website" column="website"/>
        </association>

        <collection property="categoryList" select="getArticleCategoryById" column="id"/>
        <collection property="tagList" select="getArticleTagById" column="id"/>
    </resultMap>

    <!-- 文章分页列表 -->
    <select id="articlePage" resultMap="ARTICLE_RESULT">
        SELECT t1.*,t2.userName,t2.avatar,t2.email,t2.website FROM p_article t1 left JOIN p_user t2 on t1.createUserId = t2.id
        where 1 =1
        <if test="pageVO.categoryId != null">
           and t1.id IN (SELECT articleId FROM p_article_category WHERE categoryId = #{pageVO.categoryId})
        </if>

        <if test="pageVO.tagId != null">
            and  t1.id IN (SELECT articleId FROM p_article_tag WHERE tagId = #{pageVO.tagId})
        </if>

        <if test="pageVO.status != null">
            and t1.status = #{pageVO.status}
        </if>

        <if test="pageVO.type != null and pageVO.type != ''">
            and t1.type = #{pageVO.type}
        </if>

        <if test="pageVO.title != null and pageVO.title != ''">
            <bind name="title" value="'%' + _parameter.pageVO.title + '%'" />
            and t1.title like #{title}
        </if>
    </select>

    <!-- 获取文章的标签 -->
    <select id="getArticleTagById" resultType="com.perfree.controller.auth.article.vo.ArticleTagRespVO">
        select t2.* from p_article_tag t1 left join p_tag t2 on t1.tagId = t2.id where t1.articleId = #{id}
    </select>

    <!-- 获取文章的分类 -->
    <select id="getArticleCategoryById" resultType="com.perfree.controller.auth.article.vo.ArticleCategoryRespVO">
        select t2.* from p_article_category t1 left join p_category t2 on t1.categoryId = t2.id where t1.articleId = #{id}
    </select>

    <select id="getBySlugAndTypeAndStatus" resultMap="ARTICLE_RESULT">
        SELECT t1.*,t2.userName,t2.avatar,t2.email,t2.website FROM p_article t1 left JOIN p_user t2 on t1.createUserId = t2.id
        where t1.slug = #{slug} and t1.type = #{articleType} and t1.status = #{status}
    </select>

    <select id="getPreArticle" resultMap="ARTICLE_RESULT">
        SELECT t1.*,t2.userName,t2.avatar,t2.email,t2.website FROM p_article t1 left JOIN p_user t2 on t1.createUserId = t2.id
        where t1.type = #{articleType} and t1.status = #{status} and t1.id <![CDATA[ > ]]> #{id}
        ORDER BY t1.id asc LIMIT 0,1
    </select>

    <select id="getNextArticle" resultMap="ARTICLE_RESULT">
        SELECT t1.*,t2.userName,t2.avatar,t2.email,t2.website FROM p_article t1 left JOIN p_user t2 on t1.createUserId = t2.id
        where t1.type = #{articleType} and t1.status = #{status} and t1.id <![CDATA[ < ]]> #{id}
        ORDER BY t1.id desc LIMIT 0,1
    </select>
    <select id="getArticleById" resultMap="ARTICLE_RESULT">
        SELECT t1.*,t2.userName,t2.avatar,t2.email,t2.website FROM p_article t1 left JOIN p_user t2 on t1.createUserId = t2.id
        where t1.id = #{id}
    </select>
</mapper>
