.d-banner{
    width: 100%;
    height: 440px;
    background: #28282d;
}
.d-hero-box{
    color: var(--hero-color);
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 175px;
}
.d-hero-title{
    font-size: 45px;
    font-weight: 600;
}
.d-hero-title.desc-title{
    font-size: 30px;
    font-weight: 600;
}
.d-hero-desc{
    font-size: 22px;
    padding-top: 15px;
}
.d-post-list{
    margin-top: 25px;
}
.d-post-box{
    margin-bottom: 20px;
    box-shadow: var(--box-border);
    padding: 20px;
    border-radius: 5px;
    transition: all .3s;
    background: var(--background);
}
.d-post-panel{
    width: 100%;
}
.d-post-box:hover{
    box-shadow: var(--box-border-hover);
    transform: scale(1.01);
}
.d-post-title{
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    color: var(--font-color);
    position: relative;
    opacity: .85;
}
.d-post-title:hover{
    color: var(--primary-color);
}
.d-post-content{
    color: var(--font-color);
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.75rem;
    word-wrap: break-word;
}
.p-post-info{
    border-top: 1px solid var(--border-color-b);
    padding-top: 10px;
}
.p-post-info span{
    font-size: 13px;
}
.p-post-info span:nth-child(1) .fa{
    color: rgb(225, 91, 100);
}
.p-post-info span:nth-child(2) .fa{
    color: rgb(52, 152, 219);
}
.p-post-info span:nth-child(3) .fa{
    color: rgb(244, 126, 96);
}
.p-post-info span:nth-child(4) .fa{
    color: #3eaf7c;
}
.p-post-info span:not(:first-child){
    margin-left: 10px;
}
.d-post-title:after{
    content: "";
    width: 0;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .5s;
}
.d-post-title:hover:after{
    left: 0%;
    width: 100%;
 }
.d-post-show-img-box{
    display: flex;
}
.d-post-show-img-box .d-post-content{
    height: 110px;
    overflow: hidden;
}
.d-post-img-box{
    width: 230px;
    height: 190px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 5px;
    flex: 0 0 230px;
    position: relative;
}
.d-post-img-box .d-post-img{
    width: 230px;
    height: 190px;
    object-fit: cover;
    transition: all .5s;
}
.d-post-top{
    background-color: var(--primary-color);
    top: -2px;
}
.d-post-img-box:hover .d-post-img, .d-post-box:hover .d-post-img{
    transform: scale(1.2);
}
.d-post-img-box .d-post-img-icon{
    position: absolute;
    z-index: 2;
    color: white;
    left: 8px;
    top: 6px;
}
.d-post-img-box:hover::after, .d-post-box:hover .d-post-img-box::after{
    content: "";
    height: 150%;
    width: 25px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    opacity: 0;
    filter: blur(6px);
    animation: move 2s alternate ease-out;
}


@keyframes move {
    0% {
        opacity: .6;
        transform: translate(-200px, -200px) rotate(45deg);
    }
    100% {
        transform: translate(200px, 200px) rotate(45deg);
    }
}
#anchor{
    height:0;
    position:relative;
    top:-60px
}
@media screen and (max-width:750px) {
    .d-post-show-img-box{
        display: block;
    }
    .d-post-img-box{
        width: 100%;
        height: 160px;
        margin-bottom: 15px;
    }
    .d-post-img-box .d-post-img{
        width: 100%;
        height: 160px;
    }
    .d-post-show-img-box .d-post-content{
        height: auto;
    }
    .d-banner{
        height: 330px;
    }
    .d-hero-box{
        width: calc(100% - 40px);
        padding-top: 90px;
    }
}