<div class="right-side-container">

    <div class="m-right-user-info">
        <div class="m-user-info">
            <a><img class="m-user-photo" src="/perfree/static/images/6.gif"></a>
            <h2 class="m-user-name">Perfree</h2>
            <span class="m-hitokoto" id="hitokoto">
                正在加载...
            </span>
            <div class="m-user-info-other">
                #statistics()
                    <div class="m-info-other">
                        <span>文章</span>
                        <span>#(statistics.articleCount)篇</span>
                    </div>
                    <div class="m-info-other">
                        <span>评论</span>
                        <span>#(statistics.commentCount)条</span>
                    </div>
                    <div class="m-info-other">
                        <span>标签</span>
                        <span>#(statistics.tagCount)个</span>
                    </div>
                #end
            </div>
        </div>
    </div>

    <div class="m-right-search-box">
        <form action="/article/search" method="get">
            <input type="text" placeholder="搜索文章" name="title" class="m-search-input">
            <button type="submit" class="layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>


    <!-- 热门最新文章 -->
    <div class="m-right-article-box">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this"><i class="fa fa-fire" style="margin-right: 5px;font-size: 16px;"></i> 热门</li>
                <li><i class="fa fa-clock-o" style="margin-right: 5px;font-size: 16px;"></i> 最新</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <ul class="m-right-article-list">
                        #hotArticle(count=10,type=0)
                            #for(article : articles)
                                <li class="m-right-article">
                                    <a href="#(article.url)">#(article.title)</a>
                                </li>
                            #else
                                暂无文章
                            #end
                        #end
                    </ul>
                </div>
                <div class="layui-tab-item">
                    <ul class="m-right-article-list">
                        #latestArticle(count=10)
                            #for(article : articles)
                                <li class="m-right-article">
                                    <a href="#(article.url)">#(article.title)</a>
                                </li>
                            #else
                                暂无文章
                            #end
                        #end
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 热门标签 -->
        <div class="m-right-tags-box">
            <div class="m-right-tags-title">热门标签</div>
            <div class="m-right-tag-box">
                #hotTag(count=10)
                    #for(tag : tags)
                        <a href="#(tag.url)" class="m-right-tag" title="共#(tag.articleCount ??)篇文章">#(tag.name)</a>
                    #end
                #end
            </div>
        </div>
</div>