<div class="right-side-container">
    <div class="m-right-search-box">
        <input type="text" placeholder="搜索文章" class="m-search-input">
    </div>


    <!-- 热门最新文章 -->
    <div class="m-right-article-box">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this"><i class="fa fa-fire" style="margin-right: 5px;font-size: 16px;"></i> 热门</li>
                <li><i class="fa fa-clock-o" style="margin-right: 5px;font-size: 16px;"></i> 最新</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <ul class="m-right-article-list">
                    </ul>
                </div>
                <div class="layui-tab-item">
                    <ul class="m-right-article-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 热门标签 -->
        <div class="m-right-tags-box">
            <div class="m-right-tags-title">热门标签</div>
            <div class="m-right-tag-box">
            </div>
        </div>
</div>