* {margin: 0; padding: 0; box-sizing: border-box;}
.m-container {
    width: 800px;
    height: 366px;
    position: relative;
    margin: 183px auto auto;
}
.m-error-msg-box{
    display: inline-block;
    position: absolute;
    top: 90px;
    right: 80px;
}
.m-error-msg-box h2{
    font-size: 51px;
    font-weight: 900;
}
.m-error-msg-box p{
    color: #0e0620;
    font-size: 1em;
}
.m-error-msg-box a{
    color: #79a7f1;
    cursor: pointer;
}
