<div class="p-comment-box">
  <form>
      <div class="p-form-item">
          <label class="p-comment-label"><span class="p-required">*</span>名称</label>
          <input name="userName" type="text" required="required" class="p-comment-input">
      </div>

      <div class="p-form-item">
          <label class="p-comment-label"><span class="p-required">*</span>邮箱</label>
          <input name="email" type="email" required="required" class="p-comment-input">
      </div>

      <div class="p-form-item">
          <label class="p-comment-label">网址</label>
          <input name="website" type="text" class="p-comment-input">
      </div>

      <div class="p-form-item">
          <label class="p-comment-label"><span class="p-required">*</span>内容</label>
         <textarea class="p-comment" name="content" required="required"></textarea>
      </div>

      <div class="p-form-item">
          <button class="p-submit-comment" type="submit">提交评论</button>
      </div>
  </form>
</div>